Selling/Tag/4.1.0.49/Codigo/Escritorio/pvta/Service References/WSRecargaTelefonica/wcf_RecargacelCommon.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="wcf_RecargacelCommon" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://certificacion.venteks.net/wcf_RecargacelCommon.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://certificacion.venteks.net/wcf_RecargacelCommon.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://certificacion.venteks.net/wcf_RecargacelCommon.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Iwcf_RecargacelCommon_doRecarga_InputMessage">
    <wsdl:part name="parameters" element="tns:doRecarga" />
  </wsdl:message>
  <wsdl:message name="Iwcf_RecargacelCommon_doRecarga_OutputMessage">
    <wsdl:part name="parameters" element="tns:doRecargaResponse" />
  </wsdl:message>
  <wsdl:message name="Iwcf_RecargacelCommon_openSession_InputMessage">
    <wsdl:part name="parameters" element="tns:openSession" />
  </wsdl:message>
  <wsdl:message name="Iwcf_RecargacelCommon_openSession_OutputMessage">
    <wsdl:part name="parameters" element="tns:openSessionResponse" />
  </wsdl:message>
  <wsdl:message name="Iwcf_RecargacelCommon_closeSession_InputMessage">
    <wsdl:part name="parameters" element="tns:closeSession" />
  </wsdl:message>
  <wsdl:message name="Iwcf_RecargacelCommon_closeSession_OutputMessage">
    <wsdl:part name="parameters" element="tns:closeSessionResponse" />
  </wsdl:message>
  <wsdl:message name="Iwcf_RecargacelCommon_doRecargaCashier_InputMessage">
    <wsdl:part name="parameters" element="tns:doRecargaCashier" />
  </wsdl:message>
  <wsdl:message name="Iwcf_RecargacelCommon_doRecargaCashier_OutputMessage">
    <wsdl:part name="parameters" element="tns:doRecargaCashierResponse" />
  </wsdl:message>
  <wsdl:message name="Iwcf_RecargacelCommon_doPagoDeServicioCashier_InputMessage">
    <wsdl:part name="parameters" element="tns:doPagoDeServicioCashier" />
  </wsdl:message>
  <wsdl:message name="Iwcf_RecargacelCommon_doPagoDeServicioCashier_OutputMessage">
    <wsdl:part name="parameters" element="tns:doPagoDeServicioCashierResponse" />
  </wsdl:message>
  <wsdl:message name="Iwcf_RecargacelCommon_validateCashier_InputMessage">
    <wsdl:part name="parameters" element="tns:validateCashier" />
  </wsdl:message>
  <wsdl:message name="Iwcf_RecargacelCommon_validateCashier_OutputMessage">
    <wsdl:part name="parameters" element="tns:validateCashierResponse" />
  </wsdl:message>
  <wsdl:message name="Iwcf_RecargacelCommon_getBalance_InputMessage">
    <wsdl:part name="parameters" element="tns:getBalance" />
  </wsdl:message>
  <wsdl:message name="Iwcf_RecargacelCommon_getBalance_OutputMessage">
    <wsdl:part name="parameters" element="tns:getBalanceResponse" />
  </wsdl:message>
  <wsdl:message name="Iwcf_RecargacelCommon_getRecargaStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:getRecargaStatus" />
  </wsdl:message>
  <wsdl:message name="Iwcf_RecargacelCommon_getRecargaStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:getRecargaStatusResponse" />
  </wsdl:message>
  <wsdl:message name="Iwcf_RecargacelCommon_DoRecargaFromApp_InputMessage">
    <wsdl:part name="parameters" element="tns:DoRecargaFromApp" />
  </wsdl:message>
  <wsdl:message name="Iwcf_RecargacelCommon_DoRecargaFromApp_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoRecargaFromAppResponse" />
  </wsdl:message>
  <wsdl:message name="Iwcf_RecargacelCommon_DoPagoDeServicioFromApp_InputMessage">
    <wsdl:part name="parameters" element="tns:DoPagoDeServicioFromApp" />
  </wsdl:message>
  <wsdl:message name="Iwcf_RecargacelCommon_DoPagoDeServicioFromApp_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoPagoDeServicioFromAppResponse" />
  </wsdl:message>
  <wsdl:message name="Iwcf_RecargacelCommon_ValidateUserFromApp_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateUserFromApp" />
  </wsdl:message>
  <wsdl:message name="Iwcf_RecargacelCommon_ValidateUserFromApp_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateUserFromAppResponse" />
  </wsdl:message>
  <wsdl:message name="Iwcf_RecargacelCommon_GetLastTransactionsFromApp_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLastTransactionsFromApp" />
  </wsdl:message>
  <wsdl:message name="Iwcf_RecargacelCommon_GetLastTransactionsFromApp_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLastTransactionsFromAppResponse" />
  </wsdl:message>
  <wsdl:message name="Iwcf_RecargacelCommon_GetBalanceFromApp_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBalanceFromApp" />
  </wsdl:message>
  <wsdl:message name="Iwcf_RecargacelCommon_GetBalanceFromApp_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBalanceFromAppResponse" />
  </wsdl:message>
  <wsdl:message name="Iwcf_RecargacelCommon_GetChildUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetChildUsers" />
  </wsdl:message>
  <wsdl:message name="Iwcf_RecargacelCommon_GetChildUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetChildUsersResponse" />
  </wsdl:message>
  <wsdl:message name="Iwcf_RecargacelCommon_RegisterNewUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterNewUser" />
  </wsdl:message>
  <wsdl:message name="Iwcf_RecargacelCommon_RegisterNewUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterNewUserResponse" />
  </wsdl:message>
  <wsdl:message name="Iwcf_RecargacelCommon_TransferBalanceToChildUser_InputMessage">
    <wsdl:part name="parameters" element="tns:TransferBalanceToChildUser" />
  </wsdl:message>
  <wsdl:message name="Iwcf_RecargacelCommon_TransferBalanceToChildUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:TransferBalanceToChildUserResponse" />
  </wsdl:message>
  <wsdl:message name="Iwcf_RecargacelCommon_GetLastTransactionsJson_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLastTransactionsJson" />
  </wsdl:message>
  <wsdl:message name="Iwcf_RecargacelCommon_GetLastTransactionsJson_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLastTransactionsJsonResponse" />
  </wsdl:message>
  <wsdl:message name="Iwcf_RecargacelCommon_ValidateUserFromAppJson_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateUserFromAppJson" />
  </wsdl:message>
  <wsdl:message name="Iwcf_RecargacelCommon_ValidateUserFromAppJson_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateUserFromAppJsonResponse" />
  </wsdl:message>
  <wsdl:message name="Iwcf_RecargacelCommon_ChangePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="Iwcf_RecargacelCommon_ChangePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="Iwcf_RecargacelCommon_GetLastDepositsJson_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLastDepositsJson" />
  </wsdl:message>
  <wsdl:message name="Iwcf_RecargacelCommon_GetLastDepositsJson_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLastDepositsJsonResponse" />
  </wsdl:message>
  <wsdl:message name="Iwcf_RecargacelCommon_GetBankAccounts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBankAccounts" />
  </wsdl:message>
  <wsdl:message name="Iwcf_RecargacelCommon_GetBankAccounts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBankAccountsResponse" />
  </wsdl:message>
  <wsdl:message name="Iwcf_RecargacelCommon_GetLastTransferToUsersJson_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLastTransferToUsersJson" />
  </wsdl:message>
  <wsdl:message name="Iwcf_RecargacelCommon_GetLastTransferToUsersJson_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLastTransferToUsersJsonResponse" />
  </wsdl:message>
  <wsdl:message name="Iwcf_RecargacelCommon_NotifyDeposit_InputMessage">
    <wsdl:part name="parameters" element="tns:NotifyDeposit" />
  </wsdl:message>
  <wsdl:message name="Iwcf_RecargacelCommon_NotifyDeposit_OutputMessage">
    <wsdl:part name="parameters" element="tns:NotifyDepositResponse" />
  </wsdl:message>
  <wsdl:message name="Iwcf_RecargacelCommon_GetLastTransfersParentJson_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLastTransfersParentJson" />
  </wsdl:message>
  <wsdl:message name="Iwcf_RecargacelCommon_GetLastTransfersParentJson_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLastTransfersParentJsonResponse" />
  </wsdl:message>
  <wsdl:message name="Iwcf_RecargacelCommon_ChangeNIP_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeNIP" />
  </wsdl:message>
  <wsdl:message name="Iwcf_RecargacelCommon_ChangeNIP_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeNIPResponse" />
  </wsdl:message>
  <wsdl:message name="Iwcf_RecargacelCommon_RecoverPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:RecoverPassword" />
  </wsdl:message>
  <wsdl:message name="Iwcf_RecargacelCommon_RecoverPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecoverPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="Iwcf_RecargacelCommon_EditChildUser_InputMessage">
    <wsdl:part name="parameters" element="tns:EditChildUser" />
  </wsdl:message>
  <wsdl:message name="Iwcf_RecargacelCommon_EditChildUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditChildUserResponse" />
  </wsdl:message>
  <wsdl:message name="Iwcf_RecargacelCommon_SetPasswordForChildUser_InputMessage">
    <wsdl:part name="parameters" element="tns:SetPasswordForChildUser" />
  </wsdl:message>
  <wsdl:message name="Iwcf_RecargacelCommon_SetPasswordForChildUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetPasswordForChildUserResponse" />
  </wsdl:message>
  <wsdl:message name="Iwcf_RecargacelCommon_SetNipForChildUser_InputMessage">
    <wsdl:part name="parameters" element="tns:SetNipForChildUser" />
  </wsdl:message>
  <wsdl:message name="Iwcf_RecargacelCommon_SetNipForChildUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetNipForChildUserResponse" />
  </wsdl:message>
  <wsdl:message name="Iwcf_RecargacelCommon_CreateChildUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateChildUser" />
  </wsdl:message>
  <wsdl:message name="Iwcf_RecargacelCommon_CreateChildUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateChildUserResponse" />
  </wsdl:message>
  <wsdl:portType name="Iwcf_RecargacelCommon">
    <wsdl:operation name="doRecarga">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_RecargacelCommon/doRecarga" message="tns:Iwcf_RecargacelCommon_doRecarga_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_RecargacelCommon/doRecargaResponse" message="tns:Iwcf_RecargacelCommon_doRecarga_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="openSession">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_RecargacelCommon/openSession" message="tns:Iwcf_RecargacelCommon_openSession_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_RecargacelCommon/openSessionResponse" message="tns:Iwcf_RecargacelCommon_openSession_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="closeSession">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_RecargacelCommon/closeSession" message="tns:Iwcf_RecargacelCommon_closeSession_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_RecargacelCommon/closeSessionResponse" message="tns:Iwcf_RecargacelCommon_closeSession_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="doRecargaCashier">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_RecargacelCommon/doRecargaCashier" message="tns:Iwcf_RecargacelCommon_doRecargaCashier_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_RecargacelCommon/doRecargaCashierResponse" message="tns:Iwcf_RecargacelCommon_doRecargaCashier_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="doPagoDeServicioCashier">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_RecargacelCommon/doPagoDeServicioCashier" message="tns:Iwcf_RecargacelCommon_doPagoDeServicioCashier_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_RecargacelCommon/doPagoDeServicioCashierResponse" message="tns:Iwcf_RecargacelCommon_doPagoDeServicioCashier_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="validateCashier">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_RecargacelCommon/validateCashier" message="tns:Iwcf_RecargacelCommon_validateCashier_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_RecargacelCommon/validateCashierResponse" message="tns:Iwcf_RecargacelCommon_validateCashier_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getBalance">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_RecargacelCommon/getBalance" message="tns:Iwcf_RecargacelCommon_getBalance_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_RecargacelCommon/getBalanceResponse" message="tns:Iwcf_RecargacelCommon_getBalance_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getRecargaStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_RecargacelCommon/getRecargaStatus" message="tns:Iwcf_RecargacelCommon_getRecargaStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_RecargacelCommon/getRecargaStatusResponse" message="tns:Iwcf_RecargacelCommon_getRecargaStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DoRecargaFromApp">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_RecargacelCommon/DoRecargaFromApp" message="tns:Iwcf_RecargacelCommon_DoRecargaFromApp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_RecargacelCommon/DoRecargaFromAppResponse" message="tns:Iwcf_RecargacelCommon_DoRecargaFromApp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DoPagoDeServicioFromApp">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_RecargacelCommon/DoPagoDeServicioFromApp" message="tns:Iwcf_RecargacelCommon_DoPagoDeServicioFromApp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_RecargacelCommon/DoPagoDeServicioFromAppResponse" message="tns:Iwcf_RecargacelCommon_DoPagoDeServicioFromApp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateUserFromApp">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_RecargacelCommon/ValidateUserFromApp" message="tns:Iwcf_RecargacelCommon_ValidateUserFromApp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_RecargacelCommon/ValidateUserFromAppResponse" message="tns:Iwcf_RecargacelCommon_ValidateUserFromApp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLastTransactionsFromApp">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_RecargacelCommon/GetLastTransactionsFromApp" message="tns:Iwcf_RecargacelCommon_GetLastTransactionsFromApp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_RecargacelCommon/GetLastTransactionsFromAppResponse" message="tns:Iwcf_RecargacelCommon_GetLastTransactionsFromApp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBalanceFromApp">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_RecargacelCommon/GetBalanceFromApp" message="tns:Iwcf_RecargacelCommon_GetBalanceFromApp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_RecargacelCommon/GetBalanceFromAppResponse" message="tns:Iwcf_RecargacelCommon_GetBalanceFromApp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetChildUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_RecargacelCommon/GetChildUsers" message="tns:Iwcf_RecargacelCommon_GetChildUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_RecargacelCommon/GetChildUsersResponse" message="tns:Iwcf_RecargacelCommon_GetChildUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterNewUser">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_RecargacelCommon/RegisterNewUser" message="tns:Iwcf_RecargacelCommon_RegisterNewUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_RecargacelCommon/RegisterNewUserResponse" message="tns:Iwcf_RecargacelCommon_RegisterNewUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TransferBalanceToChildUser">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_RecargacelCommon/TransferBalanceToChildUser" message="tns:Iwcf_RecargacelCommon_TransferBalanceToChildUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_RecargacelCommon/TransferBalanceToChildUserResponse" message="tns:Iwcf_RecargacelCommon_TransferBalanceToChildUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLastTransactionsJson">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_RecargacelCommon/GetLastTransactionsJson" message="tns:Iwcf_RecargacelCommon_GetLastTransactionsJson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_RecargacelCommon/GetLastTransactionsJsonResponse" message="tns:Iwcf_RecargacelCommon_GetLastTransactionsJson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateUserFromAppJson">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_RecargacelCommon/ValidateUserFromAppJson" message="tns:Iwcf_RecargacelCommon_ValidateUserFromAppJson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_RecargacelCommon/ValidateUserFromAppJsonResponse" message="tns:Iwcf_RecargacelCommon_ValidateUserFromAppJson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_RecargacelCommon/ChangePassword" message="tns:Iwcf_RecargacelCommon_ChangePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_RecargacelCommon/ChangePasswordResponse" message="tns:Iwcf_RecargacelCommon_ChangePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLastDepositsJson">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_RecargacelCommon/GetLastDepositsJson" message="tns:Iwcf_RecargacelCommon_GetLastDepositsJson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_RecargacelCommon/GetLastDepositsJsonResponse" message="tns:Iwcf_RecargacelCommon_GetLastDepositsJson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBankAccounts">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_RecargacelCommon/GetBankAccounts" message="tns:Iwcf_RecargacelCommon_GetBankAccounts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_RecargacelCommon/GetBankAccountsResponse" message="tns:Iwcf_RecargacelCommon_GetBankAccounts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLastTransferToUsersJson">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_RecargacelCommon/GetLastTransferToUsersJson" message="tns:Iwcf_RecargacelCommon_GetLastTransferToUsersJson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_RecargacelCommon/GetLastTransferToUsersJsonResponse" message="tns:Iwcf_RecargacelCommon_GetLastTransferToUsersJson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotifyDeposit">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_RecargacelCommon/NotifyDeposit" message="tns:Iwcf_RecargacelCommon_NotifyDeposit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_RecargacelCommon/NotifyDepositResponse" message="tns:Iwcf_RecargacelCommon_NotifyDeposit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLastTransfersParentJson">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_RecargacelCommon/GetLastTransfersParentJson" message="tns:Iwcf_RecargacelCommon_GetLastTransfersParentJson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_RecargacelCommon/GetLastTransfersParentJsonResponse" message="tns:Iwcf_RecargacelCommon_GetLastTransfersParentJson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeNIP">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_RecargacelCommon/ChangeNIP" message="tns:Iwcf_RecargacelCommon_ChangeNIP_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_RecargacelCommon/ChangeNIPResponse" message="tns:Iwcf_RecargacelCommon_ChangeNIP_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecoverPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_RecargacelCommon/RecoverPassword" message="tns:Iwcf_RecargacelCommon_RecoverPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_RecargacelCommon/RecoverPasswordResponse" message="tns:Iwcf_RecargacelCommon_RecoverPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditChildUser">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_RecargacelCommon/EditChildUser" message="tns:Iwcf_RecargacelCommon_EditChildUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_RecargacelCommon/EditChildUserResponse" message="tns:Iwcf_RecargacelCommon_EditChildUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetPasswordForChildUser">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_RecargacelCommon/SetPasswordForChildUser" message="tns:Iwcf_RecargacelCommon_SetPasswordForChildUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_RecargacelCommon/SetPasswordForChildUserResponse" message="tns:Iwcf_RecargacelCommon_SetPasswordForChildUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetNipForChildUser">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_RecargacelCommon/SetNipForChildUser" message="tns:Iwcf_RecargacelCommon_SetNipForChildUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_RecargacelCommon/SetNipForChildUserResponse" message="tns:Iwcf_RecargacelCommon_SetNipForChildUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateChildUser">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_RecargacelCommon/CreateChildUser" message="tns:Iwcf_RecargacelCommon_CreateChildUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_RecargacelCommon/CreateChildUserResponse" message="tns:Iwcf_RecargacelCommon_CreateChildUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_Iwcf_RecargacelCommon" type="tns:Iwcf_RecargacelCommon">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="doRecarga">
      <soap:operation soapAction="http://tempuri.org/Iwcf_RecargacelCommon/doRecarga" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="openSession">
      <soap:operation soapAction="http://tempuri.org/Iwcf_RecargacelCommon/openSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="closeSession">
      <soap:operation soapAction="http://tempuri.org/Iwcf_RecargacelCommon/closeSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="doRecargaCashier">
      <soap:operation soapAction="http://tempuri.org/Iwcf_RecargacelCommon/doRecargaCashier" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="doPagoDeServicioCashier">
      <soap:operation soapAction="http://tempuri.org/Iwcf_RecargacelCommon/doPagoDeServicioCashier" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validateCashier">
      <soap:operation soapAction="http://tempuri.org/Iwcf_RecargacelCommon/validateCashier" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBalance">
      <soap:operation soapAction="http://tempuri.org/Iwcf_RecargacelCommon/getBalance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRecargaStatus">
      <soap:operation soapAction="http://tempuri.org/Iwcf_RecargacelCommon/getRecargaStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoRecargaFromApp">
      <soap:operation soapAction="http://tempuri.org/Iwcf_RecargacelCommon/DoRecargaFromApp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoPagoDeServicioFromApp">
      <soap:operation soapAction="http://tempuri.org/Iwcf_RecargacelCommon/DoPagoDeServicioFromApp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateUserFromApp">
      <soap:operation soapAction="http://tempuri.org/Iwcf_RecargacelCommon/ValidateUserFromApp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastTransactionsFromApp">
      <soap:operation soapAction="http://tempuri.org/Iwcf_RecargacelCommon/GetLastTransactionsFromApp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBalanceFromApp">
      <soap:operation soapAction="http://tempuri.org/Iwcf_RecargacelCommon/GetBalanceFromApp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChildUsers">
      <soap:operation soapAction="http://tempuri.org/Iwcf_RecargacelCommon/GetChildUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterNewUser">
      <soap:operation soapAction="http://tempuri.org/Iwcf_RecargacelCommon/RegisterNewUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransferBalanceToChildUser">
      <soap:operation soapAction="http://tempuri.org/Iwcf_RecargacelCommon/TransferBalanceToChildUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastTransactionsJson">
      <soap:operation soapAction="http://tempuri.org/Iwcf_RecargacelCommon/GetLastTransactionsJson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateUserFromAppJson">
      <soap:operation soapAction="http://tempuri.org/Iwcf_RecargacelCommon/ValidateUserFromAppJson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://tempuri.org/Iwcf_RecargacelCommon/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastDepositsJson">
      <soap:operation soapAction="http://tempuri.org/Iwcf_RecargacelCommon/GetLastDepositsJson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBankAccounts">
      <soap:operation soapAction="http://tempuri.org/Iwcf_RecargacelCommon/GetBankAccounts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastTransferToUsersJson">
      <soap:operation soapAction="http://tempuri.org/Iwcf_RecargacelCommon/GetLastTransferToUsersJson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyDeposit">
      <soap:operation soapAction="http://tempuri.org/Iwcf_RecargacelCommon/NotifyDeposit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastTransfersParentJson">
      <soap:operation soapAction="http://tempuri.org/Iwcf_RecargacelCommon/GetLastTransfersParentJson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeNIP">
      <soap:operation soapAction="http://tempuri.org/Iwcf_RecargacelCommon/ChangeNIP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecoverPassword">
      <soap:operation soapAction="http://tempuri.org/Iwcf_RecargacelCommon/RecoverPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditChildUser">
      <soap:operation soapAction="http://tempuri.org/Iwcf_RecargacelCommon/EditChildUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetPasswordForChildUser">
      <soap:operation soapAction="http://tempuri.org/Iwcf_RecargacelCommon/SetPasswordForChildUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetNipForChildUser">
      <soap:operation soapAction="http://tempuri.org/Iwcf_RecargacelCommon/SetNipForChildUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateChildUser">
      <soap:operation soapAction="http://tempuri.org/Iwcf_RecargacelCommon/CreateChildUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wcf_RecargacelCommon">
    <wsdl:port name="BasicHttpBinding_Iwcf_RecargacelCommon" binding="tns:BasicHttpBinding_Iwcf_RecargacelCommon">
      <soap:address location="http://certificacion.venteks.net/wcf_RecargacelCommon.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>