Selling/Tag/4.1.0.1/Codigo/Escritorio/pvta/Service References/DetecnoPAC/ServiceDetecnoPAC.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceDetecnoPAC" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IDetecnoPac_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://www.timbra.mx/WCFTimbrador/DetecnoPac.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://www.timbra.mx/WCFTimbrador/DetecnoPac.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://www.timbra.mx/WCFTimbrador/DetecnoPac.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Timbrador" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDetecnoPac_TimbrarCfdi_InputMessage">
    <wsdl:part name="parameters" element="tns:TimbrarCfdi" />
  </wsdl:message>
  <wsdl:message name="IDetecnoPac_TimbrarCfdi_OutputMessage">
    <wsdl:part name="parameters" element="tns:TimbrarCfdiResponse" />
  </wsdl:message>
  <wsdl:message name="IDetecnoPac_CancelarCfdi_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelarCfdi" />
  </wsdl:message>
  <wsdl:message name="IDetecnoPac_CancelarCfdi_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelarCfdiResponse" />
  </wsdl:message>
  <wsdl:message name="IDetecnoPac_ConsultarEstatusCancelacion_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarEstatusCancelacion" />
  </wsdl:message>
  <wsdl:message name="IDetecnoPac_ConsultarEstatusCancelacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarEstatusCancelacionResponse" />
  </wsdl:message>
  <wsdl:message name="IDetecnoPac_ObtenerHoraServidor_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerHoraServidor" />
  </wsdl:message>
  <wsdl:message name="IDetecnoPac_ObtenerHoraServidor_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerHoraServidorResponse" />
  </wsdl:message>
  <wsdl:portType name="IDetecnoPac">
    <wsdl:operation name="TimbrarCfdi">
      <wsdl:input wsaw:Action="http://tempuri.org/IDetecnoPac/TimbrarCfdi" message="tns:IDetecnoPac_TimbrarCfdi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDetecnoPac/TimbrarCfdiResponse" message="tns:IDetecnoPac_TimbrarCfdi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelarCfdi">
      <wsdl:input wsaw:Action="http://tempuri.org/IDetecnoPac/CancelarCfdi" message="tns:IDetecnoPac_CancelarCfdi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDetecnoPac/CancelarCfdiResponse" message="tns:IDetecnoPac_CancelarCfdi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarEstatusCancelacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IDetecnoPac/ConsultarEstatusCancelacion" message="tns:IDetecnoPac_ConsultarEstatusCancelacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDetecnoPac/ConsultarEstatusCancelacionResponse" message="tns:IDetecnoPac_ConsultarEstatusCancelacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerHoraServidor">
      <wsdl:input wsaw:Action="http://tempuri.org/IDetecnoPac/ObtenerHoraServidor" message="tns:IDetecnoPac_ObtenerHoraServidor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDetecnoPac/ObtenerHoraServidorResponse" message="tns:IDetecnoPac_ObtenerHoraServidor_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IDetecnoPac" type="tns:IDetecnoPac">
    <wsp:PolicyReference URI="#WSHttpBinding_IDetecnoPac_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TimbrarCfdi">
      <soap12:operation soapAction="http://tempuri.org/IDetecnoPac/TimbrarCfdi" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelarCfdi">
      <soap12:operation soapAction="http://tempuri.org/IDetecnoPac/CancelarCfdi" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarEstatusCancelacion">
      <soap12:operation soapAction="http://tempuri.org/IDetecnoPac/ConsultarEstatusCancelacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerHoraServidor">
      <soap12:operation soapAction="http://tempuri.org/IDetecnoPac/ObtenerHoraServidor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceDetecnoPAC">
    <wsdl:port name="WSHttpBinding_IDetecnoPac" binding="tns:WSHttpBinding_IDetecnoPac">
      <soap12:address location="https://www.timbra.mx/WCFTimbrador/DetecnoPac.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://www.timbra.mx/WCFTimbrador/DetecnoPac.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>