Selling/Tag/4.1.0.21/Codigo/Escritorio/pvta/Web References/mx.facturacfdi.dev/WSTimbradoCFDIService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://wservicios/" xmlns:ns1="http://www.w3.org/2000/09/xmldsig#" targetNamespace="http://wservicios/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://dev.facturacfdi.mx:8081/WSTimbrado/WSTimbradoCFDIService?xsd=1" namespace="http://www.w3.org/2000/09/xmldsig#" />
  <xs:element name="Cancelacion_1" type="tns:Cancelacion_1" />
  <xs:element name="Cancelacion_1Response" type="tns:Cancelacion_1Response" />
  <xs:element name="Cancelacion_2" type="tns:Cancelacion_2" />
  <xs:element name="Cancelacion_2Response" type="tns:Cancelacion_2Response" />
  <xs:element name="TimbrarCFDI" type="tns:TimbrarCFDI" />
  <xs:element name="TimbrarCFDIResponse" type="tns:TimbrarCFDIResponse" />
  <xs:element name="TimbrarZip" type="tns:TimbrarZip" />
  <xs:element name="TimbrarZipResponse" type="tns:TimbrarZipResponse" />
  <xs:complexType name="Cancelacion_1">
    <xs:sequence>
      <xs:element minOccurs="0" name="rfcEmisor" type="xs:string" />
      <xs:element minOccurs="0" name="fecha" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="folios" type="xs:string" />
      <xs:element minOccurs="0" name="publicKey" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="privateKey" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="password" type="xs:string" />
      <xs:element minOccurs="0" name="accesos" type="tns:accesos" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="accesos">
    <xs:sequence>
      <xs:element minOccurs="0" name="password" type="xs:string" />
      <xs:element minOccurs="0" name="usuario" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Cancelacion_1Response">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:wsCancelacionResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="wsCancelacionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="acuse" type="xs:string" />
      <xs:element minOccurs="0" name="codEstatus" type="xs:string" />
      <xs:element minOccurs="0" name="folios" type="tns:wsFoliosResponse" />
      <xs:element minOccurs="0" name="mensaje" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="wsFoliosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="folio" nillable="true" type="tns:folio" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="folio">
    <xs:sequence>
      <xs:element minOccurs="0" name="estatusUUID" type="xs:string" />
      <xs:element minOccurs="0" name="mensaje" type="xs:string" />
      <xs:element minOccurs="0" name="uuid" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Cancelacion_2">
    <xs:sequence>
      <xs:element minOccurs="0" name="rfcEmisor" type="xs:string" />
      <xs:element minOccurs="0" name="fecha" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="folios" type="xs:string" />
      <xs:element minOccurs="0" name="signatureType" type="ns1:SignatureType" />
      <xs:element minOccurs="0" name="accesos" type="tns:accesos" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Cancelacion_2Response">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:wsCancelacionResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TimbrarZip">
    <xs:sequence>
      <xs:element minOccurs="0" name="accesos" type="tns:accesos" />
      <xs:element xmlns:ns2="http://www.w3.org/2005/05/xmlmime" ns2:expectedContentTypes="application/octet-stream" minOccurs="0" name="zip" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TimbrarZipResponse">
    <xs:sequence>
      <xs:element xmlns:ns3="http://www.w3.org/2005/05/xmlmime" ns3:expectedContentTypes="application/octet-stream" minOccurs="0" name="return" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="acuse" type="tns:acuseRecepcionZip" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="acuseRecepcionZip">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigoError" type="xs:int" />
      <xs:element minOccurs="0" name="error" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="listaCFDIs" nillable="true" type="tns:acuseZip" />
      <xs:element minOccurs="0" name="nombrezip" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="acuseZip">
    <xs:sequence>
      <xs:element minOccurs="0" name="error" type="xs:string" />
      <xs:element minOccurs="0" name="nombrexml" type="xs:string" />
      <xs:element minOccurs="0" name="uuid" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TimbrarCFDI">
    <xs:sequence>
      <xs:element minOccurs="0" name="accesos" type="tns:accesos" />
      <xs:element xmlns:ns4="http://www.w3.org/2005/05/xmlmime" ns4:expectedContentTypes="text/xml" minOccurs="0" name="comprobante" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TimbrarCFDIResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="acuseCFDI" type="tns:acuseCFDI" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="acuseCFDI">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigoError" type="xs:int" />
      <xs:element minOccurs="0" name="error" type="xs:string" />
      <xs:element minOccurs="0" name="xmlTimbrado" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>