Selling/Tag/4.1.0.49/Codigo/Escritorio/pvta/Service References/DetecnoPAC/DetecnoPac2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://www.timbra.mx/WCFTimbrador/DetecnoPac.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Timbrador" />
  <xs:element name="TimbrarCfdi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cfdi" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimbrarCfdiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Timbrador" minOccurs="0" name="TimbrarCfdiResult" nillable="true" type="q1:Xml" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelarCfdi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rfcEmisor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="uuid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelarCfdiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Timbrador" minOccurs="0" name="CancelarCfdiResult" nillable="true" type="q2:Xml" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarEstatusCancelacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rfcEmisor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="uuid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarEstatusCancelacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Timbrador" minOccurs="0" name="ConsultarEstatusCancelacionResult" nillable="true" type="q3:Xml" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerHoraServidor">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerHoraServidorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Timbrador" minOccurs="0" name="ObtenerHoraServidorResult" nillable="true" type="q4:Xml" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>