Selling/Tag/4.1.0.49/Codigo/Escritorio/pvta/Service References/DigitalInvoiceWS/DigitalInvoice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="https://digitalinvoice.com.mx/WSDI" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_ITimbrado_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Lax />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:SignedSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:WssUsernameToken10 />
              </wsp:Policy>
            </sp:UsernameToken>
          </wsp:Policy>
        </sp:SignedSupportingTokens>
        <sp:Wss10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy />
        </sp:Wss10>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="https://digitalinvoice.com.mx/WSDI" location="https://digitalinvoicecfdi.com.mx/WS_WSDI/DigitalInvoice.WebServices.WSDI.Timbrado.svc?wsdl" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_ITimbrado" type="i0:ITimbrado">
    <wsp:PolicyReference URI="#BasicHttpBinding_ITimbrado_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Timbrar">
      <soap:operation soapAction="https://digitalinvoice.com.mx/WSDI/ITimbrado/Timbrar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CFDiFaultContractFault">
        <soap:fault use="literal" name="CFDiFaultContractFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ProcessFaultContractFault">
        <soap:fault use="literal" name="ProcessFaultContractFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="TimbrarSoloTimbre">
      <soap:operation soapAction="https://digitalinvoice.com.mx/WSDI/ITimbrado/TimbrarSoloTimbre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CFDiFaultContractFault">
        <soap:fault use="literal" name="CFDiFaultContractFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ProcessFaultContractFault">
        <soap:fault use="literal" name="ProcessFaultContractFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="TimbrarTest">
      <soap:operation soapAction="https://digitalinvoice.com.mx/WSDI/ITimbrado/TimbrarTest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ProcessFaultContractFault">
        <soap:fault use="literal" name="ProcessFaultContractFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="CFDiFaultContractFault">
        <soap:fault use="literal" name="CFDiFaultContractFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="TimbrarSoloTimbreTest">
      <soap:operation soapAction="https://digitalinvoice.com.mx/WSDI/ITimbrado/TimbrarSoloTimbreTest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ProcessFaultContractFault">
        <soap:fault use="literal" name="ProcessFaultContractFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="CFDiFaultContractFault">
        <soap:fault use="literal" name="CFDiFaultContractFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="TimbrarAck">
      <soap:operation soapAction="https://digitalinvoice.com.mx/WSDI/ITimbrado/TimbrarAck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CFDiFaultContractFault">
        <soap:fault use="literal" name="CFDiFaultContractFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ProcessFaultContractFault">
        <soap:fault use="literal" name="ProcessFaultContractFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ObtenerAck">
      <soap:operation soapAction="https://digitalinvoice.com.mx/WSDI/ITimbrado/ObtenerAck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CFDiFaultContractFault">
        <soap:fault use="literal" name="CFDiFaultContractFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ProcessFaultContractFault">
        <soap:fault use="literal" name="ProcessFaultContractFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RecuperarTimbre">
      <soap:operation soapAction="https://digitalinvoice.com.mx/WSDI/ITimbrado/RecuperarTimbre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CFDiFaultContractFault">
        <soap:fault use="literal" name="CFDiFaultContractFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ProcessFaultContractFault">
        <soap:fault use="literal" name="ProcessFaultContractFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RecuperarTimbreUUID">
      <soap:operation soapAction="https://digitalinvoice.com.mx/WSDI/ITimbrado/RecuperarTimbreUUID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ProcessFaultContractFault">
        <soap:fault use="literal" name="ProcessFaultContractFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="CFDiFaultContractFault">
        <soap:fault use="literal" name="CFDiFaultContractFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RecuperarTimbres">
      <soap:operation soapAction="https://digitalinvoice.com.mx/WSDI/ITimbrado/RecuperarTimbres" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CFDiFaultContractFault">
        <soap:fault use="literal" name="CFDiFaultContractFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ProcessFaultContractFault">
        <soap:fault use="literal" name="ProcessFaultContractFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="TimbrarBase64">
      <soap:operation soapAction="https://digitalinvoice.com.mx/WSDI/ITimbrado/TimbrarBase64" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CFDiFaultContractFault">
        <soap:fault use="literal" name="CFDiFaultContractFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ProcessFaultContractFault">
        <soap:fault use="literal" name="ProcessFaultContractFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="TimbrarTestBase64">
      <soap:operation soapAction="https://digitalinvoice.com.mx/WSDI/ITimbrado/TimbrarTestBase64" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ProcessFaultContractFault">
        <soap:fault use="literal" name="ProcessFaultContractFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="CFDiFaultContractFault">
        <soap:fault use="literal" name="CFDiFaultContractFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="TimbrarSoloTimbreTestBase64">
      <soap:operation soapAction="https://digitalinvoice.com.mx/WSDI/ITimbrado/TimbrarSoloTimbreTestBase64" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CFDiFaultContractFault">
        <soap:fault use="literal" name="CFDiFaultContractFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ProcessFaultContractFault">
        <soap:fault use="literal" name="ProcessFaultContractFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="TimbrarAckBase64">
      <soap:operation soapAction="https://digitalinvoice.com.mx/WSDI/ITimbrado/TimbrarAckBase64" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CFDiFaultContractFault">
        <soap:fault use="literal" name="CFDiFaultContractFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ProcessFaultContractFault">
        <soap:fault use="literal" name="ProcessFaultContractFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RecuperarTimbreBase64">
      <soap:operation soapAction="https://digitalinvoice.com.mx/WSDI/ITimbrado/RecuperarTimbreBase64" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ProcessFaultContractFault">
        <soap:fault use="literal" name="ProcessFaultContractFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="CFDiFaultContractFault">
        <soap:fault use="literal" name="CFDiFaultContractFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RecuperarTimbreBase64UUID">
      <soap:operation soapAction="https://digitalinvoice.com.mx/WSDI/ITimbrado/RecuperarTimbreBase64UUID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CFDiFaultContractFault">
        <soap:fault use="literal" name="CFDiFaultContractFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ProcessFaultContractFault">
        <soap:fault use="literal" name="ProcessFaultContractFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RecuperarTimbresBase64">
      <soap:operation soapAction="https://digitalinvoice.com.mx/WSDI/ITimbrado/RecuperarTimbresBase64" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ProcessFaultContractFault">
        <soap:fault use="literal" name="ProcessFaultContractFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="CFDiFaultContractFault">
        <soap:fault use="literal" name="CFDiFaultContractFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="TimbrarSoloTimbreBase64">
      <soap:operation soapAction="https://digitalinvoice.com.mx/WSDI/ITimbrado/TimbrarSoloTimbreBase64" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CFDiFaultContractFault">
        <soap:fault use="literal" name="CFDiFaultContractFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ProcessFaultContractFault">
        <soap:fault use="literal" name="ProcessFaultContractFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>