RouteCarnicos/Trunk/Codigo/Web/WebAPLBaseAPP/xsd/AgrupadoPorFamilia.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://tempuri.org/AgrupadoPorFamilia.xsd" xmlns:mstns="http://tempuri.org/AgrupadoPorFamilia.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org/AgrupadoPorFamilia.xsd" elementFormDefault="qualified" id="AgrupadoPorFamilia">
  <xs:element name="AgrupadoPorFamilia">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="RUTNombre" type="xs:string" />
        <xs:element name="CLINombre" type="xs:string" />
        <xs:element name="ESQNombre" type="xs:string" />
        <xs:element name="Cantidad" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>