RouteCarnicos/Trunk/Codigo/Web/WebAPLBaseAPP/xsd/SumatoriaSolicitud.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="SumatoriaSolicitud" targetNamespace="http://tempuri.org/SumatoriaSolicitud.xsd" elementFormDefault="qualified" xmlns="http://tempuri.org/SumatoriaSolicitud.xsd" xmlns:mstns="http://tempuri.org/SumatoriaSolicitud.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Sumatoria">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Area" type="xs:string" />
        <xs:element name="Concepto" type="xs:string" />
        <xs:element name="Cantidad" type="xs:integer" />
        <xs:element name="CEDI" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>