RouteCarnicos/Trunk/Codigo/Escritorio/ERMTRP/ERMTRPESC/Configuracion.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="Configuracion" targetNamespace="http://tempuri.org/Configuracion.xsd" elementFormDefault="qualified" xmlns="http://tempuri.org/Configuracion.xsd" xmlns:mstns="http://tempuri.org/Configuracion.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Configuracion">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="NombreEmpresa" type="xs:string" />
        <xs:element name="Logotipo" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>