RouteCarnicos/Trunk/Codigo/Escritorio/ERMTRP/ERMTRPESC/Impuestos.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema id="Impuestos" targetNamespace="http://tempuri.org/Impuestos.xsd" elementFormDefault="qualified"
	xmlns="http://tempuri.org/Impuestos.xsd" xmlns:mstns="http://tempuri.org/Impuestos.xsd"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Impuestos">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Impuesto" type="xs:string" />
				<xs:element name="Tasa" type="xs:double" />
				<xs:element name="Importe" type="xs:double" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>