Selling/Tag/4.1.0.1/Codigo/Escritorio/pvta/Service References/DigitalInvoiceWS/DigitalInvoice2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DigitalInvoice.WebServices.WSDI" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DigitalInvoice.WebServices.WSDI" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TimbradoCFDIResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="AcknowledgeBase64" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Comprobante" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TimbradoCFDIResult" nillable="true" type="tns:TimbradoCFDIResult" />
</xs:schema>