Selling/Tag/4.1.0.49/Codigo/Escritorio/pvta/Service References/AutentificacionDigibox/wsAutenticacion.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://digibox.com/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://digibox.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://digibox.com/">
      <s:element name="AutenticarBasico">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AutenticarBasicoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AutenticarBasicoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TokenCambioContraseña">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="apiKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TokenCambioContraseñaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TokenCambioContraseñaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CambioContraseña">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CambioContraseñaResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AutenticarBasicoSoapIn">
    <wsdl:part name="parameters" element="tns:AutenticarBasico" />
  </wsdl:message>
  <wsdl:message name="AutenticarBasicoSoapOut">
    <wsdl:part name="parameters" element="tns:AutenticarBasicoResponse" />
  </wsdl:message>
  <wsdl:message name="TokenCambioContraseñaSoapIn">
    <wsdl:part name="parameters" element="tns:TokenCambioContraseña" />
  </wsdl:message>
  <wsdl:message name="TokenCambioContraseñaSoapOut">
    <wsdl:part name="parameters" element="tns:TokenCambioContraseñaResponse" />
  </wsdl:message>
  <wsdl:message name="CambioContraseñaSoapIn">
    <wsdl:part name="parameters" element="tns:CambioContraseña" />
  </wsdl:message>
  <wsdl:message name="CambioContraseñaSoapOut">
    <wsdl:part name="parameters" element="tns:CambioContraseñaResponse" />
  </wsdl:message>
  <wsdl:portType name="wsAutenticacionSoap">
    <wsdl:operation name="AutenticarBasico">
      <wsdl:input message="tns:AutenticarBasicoSoapIn" />
      <wsdl:output message="tns:AutenticarBasicoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TokenCambioContraseña">
      <wsdl:input message="tns:TokenCambioContraseñaSoapIn" />
      <wsdl:output message="tns:TokenCambioContraseñaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CambioContraseña">
      <wsdl:input message="tns:CambioContraseñaSoapIn" />
      <wsdl:output message="tns:CambioContraseñaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsAutenticacionSoap" type="tns:wsAutenticacionSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AutenticarBasico">
      <soap:operation soapAction="http://digibox.com/AutenticarBasico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TokenCambioContraseña">
      <soap:operation soapAction="http://digibox.com/TokenCambioContraseña" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CambioContraseña">
      <soap:operation soapAction="http://digibox.com/CambioContraseña" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsAutenticacionSoap12" type="tns:wsAutenticacionSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AutenticarBasico">
      <soap12:operation soapAction="http://digibox.com/AutenticarBasico" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TokenCambioContraseña">
      <soap12:operation soapAction="http://digibox.com/TokenCambioContraseña" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CambioContraseña">
      <soap12:operation soapAction="http://digibox.com/CambioContraseña" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsAutenticacion">
    <wsdl:port name="wsAutenticacionSoap" binding="tns:wsAutenticacionSoap">
      <soap:address location="http://timbrado.digibox.com.mx/Autenticacion/wsAutenticacion.asmx" />
    </wsdl:port>
    <wsdl:port name="wsAutenticacionSoap12" binding="tns:wsAutenticacionSoap12">
      <soap12:address location="http://timbrado.digibox.com.mx/Autenticacion/wsAutenticacion.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>