Selling/Tag/4.1.0.21/Codigo/Escritorio/pvta/Service References/DetecnoCancelacion/CanceladorXML.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CanceladorXML" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_ICanceladorXML_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://www.timbra.mx/WCFCancelador/CancelacionXML.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://www.timbra.mx/WCFCancelador/CancelacionXML.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://www.timbra.mx/WCFCancelador/CancelacionXML.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Cancelador" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICanceladorXML_ObtenerHoraServidor_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerHoraServidor" />
  </wsdl:message>
  <wsdl:message name="ICanceladorXML_ObtenerHoraServidor_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerHoraServidorResponse" />
  </wsdl:message>
  <wsdl:message name="ICanceladorXML_CancelacionCfdiConXML_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelacionCfdiConXML" />
  </wsdl:message>
  <wsdl:message name="ICanceladorXML_CancelacionCfdiConXML_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelacionCfdiConXMLResponse" />
  </wsdl:message>
  <wsdl:message name="ICanceladorXML_ConsultaCancelacionCfdiConXML_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaCancelacionCfdiConXML" />
  </wsdl:message>
  <wsdl:message name="ICanceladorXML_ConsultaCancelacionCfdiConXML_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaCancelacionCfdiConXMLResponse" />
  </wsdl:message>
  <wsdl:portType name="ICanceladorXML">
    <wsdl:operation name="ObtenerHoraServidor">
      <wsdl:input wsaw:Action="http://tempuri.org/ICanceladorXML/ObtenerHoraServidor" message="tns:ICanceladorXML_ObtenerHoraServidor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICanceladorXML/ObtenerHoraServidorResponse" message="tns:ICanceladorXML_ObtenerHoraServidor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelacionCfdiConXML">
      <wsdl:input wsaw:Action="http://tempuri.org/ICanceladorXML/CancelacionCfdiConXML" message="tns:ICanceladorXML_CancelacionCfdiConXML_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICanceladorXML/CancelacionCfdiConXMLResponse" message="tns:ICanceladorXML_CancelacionCfdiConXML_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaCancelacionCfdiConXML">
      <wsdl:input wsaw:Action="http://tempuri.org/ICanceladorXML/ConsultaCancelacionCfdiConXML" message="tns:ICanceladorXML_ConsultaCancelacionCfdiConXML_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICanceladorXML/ConsultaCancelacionCfdiConXMLResponse" message="tns:ICanceladorXML_ConsultaCancelacionCfdiConXML_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_ICanceladorXML" type="tns:ICanceladorXML">
    <wsp:PolicyReference URI="#WSHttpBinding_ICanceladorXML_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerHoraServidor">
      <soap12:operation soapAction="http://tempuri.org/ICanceladorXML/ObtenerHoraServidor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelacionCfdiConXML">
      <soap12:operation soapAction="http://tempuri.org/ICanceladorXML/CancelacionCfdiConXML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaCancelacionCfdiConXML">
      <soap12:operation soapAction="http://tempuri.org/ICanceladorXML/ConsultaCancelacionCfdiConXML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CanceladorXML">
    <wsdl:port name="WSHttpBinding_ICanceladorXML" binding="tns:WSHttpBinding_ICanceladorXML">
      <soap12:address location="https://www.timbra.mx/WCFCancelador/CancelacionXML.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://www.timbra.mx/WCFCancelador/CancelacionXML.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>