Selling/Tag/4.1.0.21/Codigo/Escritorio/pvta/Service References/DetecnoCancelacion/CancelacionXML1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://www.timbra.mx/WCFCancelador/CancelacionXML.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Cancelador" />
  <xs:element name="ObtenerHoraServidor">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerHoraServidorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Cancelador" minOccurs="0" name="ObtenerHoraServidorResult" nillable="true" type="q1:Xml" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelacionCfdiConXML">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rfcEmisor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlCancelacion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelacionCfdiConXMLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Cancelador" minOccurs="0" name="CancelacionCfdiConXMLResult" nillable="true" type="q2:Xml" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultaCancelacionCfdiConXML">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rfcEmisor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="busquedaIdCancelacionXML" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultaCancelacionCfdiConXMLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Cancelador" minOccurs="0" name="ConsultaCancelacionCfdiConXMLResult" nillable="true" type="q3:Xml" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>