RouteCarnicos/Trunk/Codigo/Web/WebAPLBaseAPP/xsd/ReporteLiquidacionLactigurth/Creditos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="Creditos" targetNamespace="http://tempuri.org/Creditos.xsd" elementFormDefault="qualified" xmlns="http://tempuri.org/Creditos.xsd" xmlns:mstns="http://tempuri.org/Creditos.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Creditos">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Folio" type="xs:string" />
        <xs:element name="Fecha" type="xs:date" />
        <xs:element name="Cliente" type="xs:string" />
        <xs:element name="Importe" type="xs:double" />
        <xs:element name="Autoservicio" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>