XadisPMS/Trunk/Codigo/WebServices/GMConnect/GMConnect/Service References/wsXadisPMS/WspmsServiceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://wspms/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="WspmsServiceService" targetNamespace="http://wspms/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="http://wspms/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="getLogin" type="tns:getLogin" />
      <xs:element name="getLoginResponse" type="tns:getLoginResponse" />
      <xs:element name="setInventario" type="tns:setInventario" />
      <xs:element name="setInventarioResponse" type="tns:setInventarioResponse" />
      <xs:element name="setLogout" type="tns:setLogout" />
      <xs:element name="setLogoutResponse" type="tns:setLogoutResponse" />
      <xs:element name="setVentas" type="tns:setVentas" />
      <xs:element name="setVentasResponse" type="tns:setVentasResponse" />
      <xs:complexType name="setLogout">
        <xs:sequence>
          <xs:element minOccurs="0" name="sesion" type="xs:string" />
          <xs:element minOccurs="0" name="almacen" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="setLogoutResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:login" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="login">
        <xs:sequence>
          <xs:element minOccurs="0" name="error" type="xs:boolean" />
          <xs:element minOccurs="0" name="mensaje" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="setInventario">
        <xs:sequence>
          <xs:element minOccurs="0" name="sesion" type="xs:string" />
          <xs:element minOccurs="0" name="almacen" type="xs:string" />
          <xs:element minOccurs="0" name="fechaTransmision" type="xs:string" />
          <xs:element minOccurs="0" name="codigoSKU" type="xs:string" />
          <xs:element minOccurs="0" name="inventario" type="xs:double" />
          <xs:element minOccurs="0" name="unidad" type="xs:string" />
          <xs:element minOccurs="0" name="fechaMovimiento" type="xs:string" />
          <xs:element name="tipoMovimiento" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="setInventarioResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:inventario" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="inventario">
        <xs:sequence>
          <xs:element minOccurs="0" name="error" type="xs:boolean" />
          <xs:element minOccurs="0" name="mensaje" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="setVentas">
        <xs:sequence>
          <xs:element minOccurs="0" name="sesion" type="xs:string" />
          <xs:element minOccurs="0" name="fechaTransmicion" type="xs:string" />
          <xs:element minOccurs="0" name="almacen" type="xs:string" />
          <xs:element minOccurs="0" name="codigoSKU" type="xs:string" />
          <xs:element minOccurs="0" name="ventaCantidad" type="xs:double" />
          <xs:element minOccurs="0" name="unidad" type="xs:string" />
          <xs:element minOccurs="0" name="fechaMovimiento" type="xs:string" />
          <xs:element minOccurs="0" name="cliente" type="xs:string" />
          <xs:element minOccurs="0" name="canalCliente" type="xs:string" />
          <xs:element minOccurs="0" name="precioUnitario" type="xs:double" />
          <xs:element minOccurs="0" name="descuentoPorcentaje" type="xs:double" />
          <xs:element minOccurs="0" name="descuentoMonto" type="xs:double" />
          <xs:element minOccurs="0" name="precioNeto" type="xs:double" />
          <xs:element minOccurs="0" name="ieps" type="xs:double" />
          <xs:element minOccurs="0" name="precioBruto" type="xs:double" />
          <xs:element minOccurs="0" name="iva" type="xs:double" />
          <xs:element minOccurs="0" name="precioFinal" type="xs:double" />
          <xs:element minOccurs="0" name="numeroDocumento" type="xs:string" />
          <xs:element name="tipoMovimiento" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="setVentasResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:ventas" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ventas">
        <xs:sequence>
          <xs:element minOccurs="0" name="error" type="xs:boolean" />
          <xs:element minOccurs="0" name="mensaje" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getLogin">
        <xs:sequence>
          <xs:element minOccurs="0" name="user" type="xs:string" />
          <xs:element minOccurs="0" name="pass" type="xs:string" />
          <xs:element minOccurs="0" name="rfc" type="xs:string" />
          <xs:element minOccurs="0" name="almacen" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getLoginResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:login" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="setInventario">
    <wsdl:part name="parameters" element="tns:setInventario" />
  </wsdl:message>
  <wsdl:message name="setLogoutResponse">
    <wsdl:part name="parameters" element="tns:setLogoutResponse" />
  </wsdl:message>
  <wsdl:message name="setVentas">
    <wsdl:part name="parameters" element="tns:setVentas" />
  </wsdl:message>
  <wsdl:message name="setLogout">
    <wsdl:part name="parameters" element="tns:setLogout" />
  </wsdl:message>
  <wsdl:message name="getLoginResponse">
    <wsdl:part name="parameters" element="tns:getLoginResponse" />
  </wsdl:message>
  <wsdl:message name="setVentasResponse">
    <wsdl:part name="parameters" element="tns:setVentasResponse" />
  </wsdl:message>
  <wsdl:message name="getLogin">
    <wsdl:part name="parameters" element="tns:getLogin" />
  </wsdl:message>
  <wsdl:message name="setInventarioResponse">
    <wsdl:part name="parameters" element="tns:setInventarioResponse" />
  </wsdl:message>
  <wsdl:portType name="WspmsService">
    <wsdl:operation name="setLogout">
      <wsdl:input name="setLogout" message="tns:setLogout" />
      <wsdl:output name="setLogoutResponse" message="tns:setLogoutResponse" />
    </wsdl:operation>
    <wsdl:operation name="setInventario">
      <wsdl:input name="setInventario" message="tns:setInventario" />
      <wsdl:output name="setInventarioResponse" message="tns:setInventarioResponse" />
    </wsdl:operation>
    <wsdl:operation name="setVentas">
      <wsdl:input name="setVentas" message="tns:setVentas" />
      <wsdl:output name="setVentasResponse" message="tns:setVentasResponse" />
    </wsdl:operation>
    <wsdl:operation name="getLogin">
      <wsdl:input name="getLogin" message="tns:getLogin" />
      <wsdl:output name="getLoginResponse" message="tns:getLoginResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WspmsServiceServiceSoapBinding" type="tns:WspmsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="setLogout">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="setLogout">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="setLogoutResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setInventario">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="setInventario">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="setInventarioResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLogin">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getLogin">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getLoginResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setVentas">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="setVentas">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="setVentasResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WspmsServiceService">
    <wsdl:port name="WspmsServicePort" binding="tns:WspmsServiceServiceSoapBinding">
      <soap:address location="http://xadis.solutions:3010/wsXadisPMS/services/wspms" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>