RouteCarnicos/Trunk/Codigo/Escritorio/ERMTRP/ERMTRPLOG/Web References/com.tralix.pac/divisas.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:divisas="http://www.sat.gob.mx/divisas" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.sat.gob.mx/divisas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Divisas">
    <xs:annotation>
      <xs:documentation>Nodo opcional para centros cambiarios y las casas de cambio para identificar las operaciones de compra y  venta de divisas que realizan, haciendo menci??n expresa de que los comprobantes se expiden por la ???compra???, o bien, por la ???venta??? de divisas. Conforme a la RMF 2.4.20. Para los efectos de los art??culos 29-A del CFF y 38, ??ltimo p??rrafo de su Reglamento</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute fixed="1.0" name="version" type="xs:string" use="required">
        <xs:annotation>
          <xs:documentation>Atributo requerido para expresar la versi??n del complemento de divisas</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="tipoOperacion" use="required">
        <xs:annotation>
          <xs:documentation>Elemento para definir el tipo de operaci??n realizada. venta o compra de divisas</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="compra" />
            <xs:enumeration value="venta" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
</xs:schema>