RouteCarnicos/Trunk/Codigo/Escritorio/ERMTRP/ERMTRPLOG/Web References/com.tralix.pac/ecc.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ecc="http://www.sat.gob.mx/ecc" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.sat.gob.mx/ecc" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="EstadoDeCuentaCombustible">
    <xs:annotation>
      <xs:documentation>Nodo opcional para recibir la informaci??n aplicable al estado de cuenta emitido por el prestador de servicios de monedero electr??nico a que hace referencia la fracci??n III en su p??rrafo 2do. del art??culo 31 de la Ley del ISR.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Conceptos">
          <xs:annotation>
            <xs:documentation>Nodo requerido para enlistar los conceptos cubiertos por Estado de Cuenta de Combustible.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="ConceptoEstadoDeCuentaCombustible">
                <xs:annotation>
                  <xs:documentation>Nodo requerido para la expresi??n de una transacci??n a ser reportada en el estado de cuenta del proveedor de monedero electr??nico para operaciones de compra de combustibles.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Traslados">
                      <xs:annotation>
                        <xs:documentation>Nodo requerido para enlistar los impuestos trasladados aplicables de combustibles.</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="Traslado">
                            <xs:annotation>
                              <xs:documentation>Nodo para la definici??n de informaci??n detallada de un traslado de impuesto espec??fico</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:attribute name="impuesto" use="required">
                                <xs:annotation>
                                  <xs:documentation>Atributo requerido para definir el tipo de impuesto trasladado</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:whiteSpace value="collapse" />
                                    <xs:enumeration value="IVA">
                                      <xs:annotation>
                                        <xs:documentation>Impuesto al Valor Agregado</xs:documentation>
                                      </xs:annotation>
                                    </xs:enumeration>
                                    <xs:enumeration value="IEPS">
                                      <xs:annotation>
                                        <xs:documentation>Impuesto especial sobre productos y servicios</xs:documentation>
                                      </xs:annotation>
                                    </xs:enumeration>
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                              <xs:attribute name="tasa" use="required">
                                <xs:annotation>
                                  <xs:documentation>Atributo requerido para se??alar la tasa del impuesto que se traslada por cada concepto amparado en el comprobante</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                  <xs:restriction base="xs:decimal">
                                    <xs:fractionDigits value="2" />
                                    <xs:whiteSpace value="collapse" />
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                              <xs:attribute name="importe" use="required">
                                <xs:annotation>
                                  <xs:documentation>Atributo requerido para definir el importe o monto del impuesto trasladado</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                  <xs:restriction base="xs:decimal">
                                    <xs:fractionDigits value="2" />
                                    <xs:whiteSpace value="collapse" />
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="identificador" use="required">
                    <xs:annotation>
                      <xs:documentation>Atributo requerido para la expresi??n del identificador o n??mero del monedero electr??nico</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:whiteSpace value="collapse" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="fecha" use="required">
                    <xs:annotation>
                      <xs:documentation>Atributo requerido para la expresi??n de la Fecha y hora de expedici??n  de la operaci??n reportada. Se expresa en la forma aaaa-mm-ddThh:mm:ss, de acuerdo con la especificaci??n ISO 8601.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:dateTime">
                        <xs:whiteSpace value="collapse" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="rfc" use="required">
                    <xs:annotation>
                      <xs:documentation>Atributo requerido del RFC del enajenante del combustible</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="12" />
                        <xs:maxLength value="13" />
                        <xs:whiteSpace value="collapse" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="claveEstacion" use="required">
                    <xs:annotation>
                      <xs:documentation>Atributo requerido  para expresar la clave de cliente de la estaci??n de servicio, a 10 caracteres, cuando sea requerido.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:whiteSpace value="collapse" />
                        <xs:minLength value="1" />
                        <xs:maxLength value="10" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="cantidad" use="required">
                    <xs:annotation>
                      <xs:documentation>Atributo requerido para definir el volumen de combustible adquirido.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:decimal">
                        <xs:whiteSpace value="collapse" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="nombreCombustible" use="required">
                    <xs:annotation>
                      <xs:documentation>Atributo requerido para expresar el nombre del combustible adquirido.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:whiteSpace value="collapse" />
                        <xs:minLength value="1" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="folioOperacion" use="required">
                    <xs:annotation>
                      <xs:documentation>Atributo requerido para referir el n??mero de folio de cada operaci??n realizada por cada monedero electr??nico.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:whiteSpace value="collapse" />
                        <xs:minLength value="1" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="valorUnitario" use="required">
                    <xs:annotation>
                      <xs:documentation>Atributo requerido para definir el precio unitario del combustible adquirido.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:decimal">
                        <xs:whiteSpace value="collapse" />
                        <xs:fractionDigits value="2" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="importe" use="required">
                    <xs:annotation>
                      <xs:documentation>Atributo requerido para definir el monto  total de consumo de combustible. Debe ser equivalente al resultado de multiplicar la cantidad por el valor unitario.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:decimal">
                        <xs:fractionDigits value="2" />
                        <xs:whiteSpace value="collapse" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute fixed="Tarjeta" name="tipoOperacion" use="required">
        <xs:annotation>
          <xs:documentation>Atributo requerido para expresar el tipo de operaci??n de acuerdo con el medio de pago.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:whiteSpace value="collapse" />
            <xs:minLength value="1" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="numeroDeCuenta" use="required">
        <xs:annotation>
          <xs:documentation>Nodo requerido para expresar el n??mero de cuenta del adquirente del monedero electr??nico</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:whiteSpace value="collapse" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="subTotal" use="optional">
        <xs:annotation>
          <xs:documentation>Atributo opcional para representar la suma de todos los importes tipo ConceptoEstadoDeCuentaCombustible.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="2" />
            <xs:whiteSpace value="collapse" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="total" use="required">
        <xs:annotation>
          <xs:documentation>Atributo requerido para expresar el monto total de consumo de combustible.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="2" />
            <xs:whiteSpace value="collapse" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
</xs:schema>