RouteCarnicos/Trunk/Codigo/Escritorio/ERMTRP/ERMTRPLOG/Web References/com.tralix.pac/leyendasFisc.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:leyendasFisc="http://www.sat.gob.mx/leyendasFiscales" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.sat.gob.mx/leyendasFiscales" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="LeyendasFiscales">
    <xs:annotation>
      <xs:documentation>Nodo opcional para incluir leyendas previstas en disposiciones fiscales, distintas a las contenidas en el est??ndar de Comprobante Fiscal Digital (CFD) o Comprobante Fiscal Digital a trav??s de Internet (CFDI).</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Leyenda">
          <xs:annotation>
            <xs:documentation>Nodo para expresar la(s) leyenda(s) fiscal(es) que apliquen al comprobante</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:attribute name="disposicionFiscal">
              <xs:annotation>
                <xs:documentation>Atributo opcional para especificar la Ley, Resoluci??n o Disposici??n fiscal que regula la leyenda, deber?? expresarse en siglas de may??sculas y sin puntuaci??n (p. ej: ISR)</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:whiteSpace value="collapse" />
                  <xs:minLength value="1" />
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="norma">
              <xs:annotation>
                <xs:documentation>Atributo opcional para especificar el n??mero de Art??culo o en su caso Regla que regula la obligaci??n de la leyenda</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:whiteSpace value="collapse" />
                  <xs:minLength value="1" />
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="textoLeyenda" use="required">
              <xs:annotation>
                <xs:documentation>Atributo requerido para especificar la leyenda fiscal</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:minLength value="1" />
                  <xs:whiteSpace value="collapse" />
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute fixed="1.0" name="version" type="xs:string" use="required">
        <xs:annotation>
          <xs:documentation>Atributo requerido para expresar la versi??n del complemento de Leyendas Fiscales</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
</xs:schema>