RouteCarnicos/Trunk/Codigo/Escritorio/ERMTRP/ERMTRPLOG/Web References/com.tralix.pac/terceros11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:terceros="http://www.sat.gob.mx/terceros" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.sat.gob.mx/terceros" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PorCuentadeTerceros">
    <xs:annotation>
      <xs:documentation> Complemento concepto para la emisi??n de Comprobante Fiscal Digital (CFD) y Comprobante Fiscal Digital a trav??s de Internet (CFDI) por orden y cuenta de terceros.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InformacionFiscalTercero">
          <xs:annotation>
            <xs:documentation>Nodo opcional para expresar informaci??n fiscal de terceros</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:complexContent mixed="false">
              <xs:extension base="terceros:t_UbicacionFiscal" />
            </xs:complexContent>
          </xs:complexType>
        </xs:element>
        <xs:choice>
          <xs:element minOccurs="0" name="InformacionAduanera">
            <xs:annotation>
              <xs:documentation>Nodo opcional para introducir la informaci??n aduanera aplicable cuando se trate de ventas de primera mano de mercanc??as importadas.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:complexContent mixed="false">
                <xs:extension base="terceros:t_InformacionAduanera" />
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Parte">
            <xs:annotation>
              <xs:documentation>Nodo opcional para expresar las partes o componentes que integran la totalidad del concepto expresado en el CFD o CFDI</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="InformacionAduanera" type="terceros:t_InformacionAduanera">
                  <xs:annotation>
                    <xs:documentation>Nodo opcional para introducir la informaci??n aduanera aplicable cuando se trate de partes o componentes importados vendidos de primera mano.</xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:sequence>
              <xs:attribute name="cantidad" use="required">
                <xs:annotation>
                  <xs:documentation>Atributo requerido para precisar la cantidad de bienes o servicios del tipo particular definido por la presente parte.</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:decimal">
                    <xs:whiteSpace value="collapse" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:attribute>
              <xs:attribute name="unidad" use="optional">
                <xs:annotation>
                  <xs:documentation>Atributo opcional para precisar la unidad de medida aplicable para la cantidad expresada en la parte.</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:whiteSpace value="collapse" />
                    <xs:minLength value="1" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:attribute>
              <xs:attribute name="noIdentificacion" use="optional">
                <xs:annotation>
                  <xs:documentation>Atributo opcional para expresar el n??mero de serie del bien o identificador del servicio amparado por la presente parte.</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:minLength value="1" />
                    <xs:whiteSpace value="collapse" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:attribute>
              <xs:attribute name="descripcion" use="required">
                <xs:annotation>
                  <xs:documentation>Atributo requerido para precisar la descripci??n del bien o servicio cubierto por la presente parte.</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:minLength value="1" />
                    <xs:whiteSpace value="collapse" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:attribute>
              <xs:attribute name="valorUnitario" type="terceros:t_Importe" use="optional">
                <xs:annotation>
                  <xs:documentation>Atributo opcional para precisar el valor o precio unitario del bien o servicio cubierto por la presente parte.</xs:documentation>
                </xs:annotation>
              </xs:attribute>
              <xs:attribute name="importe" type="terceros:t_Importe" use="optional">
                <xs:annotation>
                  <xs:documentation>Atributo opcional para precisar el importe total de los bienes o servicios de la presente parte. Debe ser equivalente al resultado de multiplicar la cantidad por el valor unitario expresado en la parte.</xs:documentation>
                </xs:annotation>
              </xs:attribute>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="CuentaPredial">
            <xs:annotation>
              <xs:documentation>Nodo opcional para asentar el n??mero de cuenta predial con el que fue registrado el inmueble, en el sistema catastral de la entidad federativa de que trate.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:attribute name="numero" use="required">
                <xs:annotation>
                  <xs:documentation>Atributo requerido para precisar el n??mero de la cuenta predial del inmueble cubierto por el presente concepto en caso de recibos de arrendamiento.</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:whiteSpace value="collapse" />
                    <xs:minLength value="1" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:attribute>
            </xs:complexType>
          </xs:element>
        </xs:choice>
        <xs:element name="Impuestos">
          <xs:annotation>
            <xs:documentation>Nodo requerido para capturar los impuestos aplicables.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="Retenciones">
                <xs:annotation>
                  <xs:documentation>Nodo opcional para capturar los impuestos retenidos aplicables</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="Retencion">
                      <xs:annotation>
                        <xs:documentation>Nodo para la informaci??n detallada de una retenci??n de impuesto espec??fico</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:attribute name="impuesto" use="required">
                          <xs:annotation>
                            <xs:documentation>Atributo requerido para se??alar el tipo de impuesto retenido</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:whiteSpace value="collapse" />
                              <xs:enumeration value="ISR">
                                <xs:annotation>
                                  <xs:documentation>Impuesto sobre la renta</xs:documentation>
                                </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="IVA">
                                <xs:annotation>
                                  <xs:documentation>Impuesto al Valor Agregado</xs:documentation>
                                </xs:annotation>
                              </xs:enumeration>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="importe" type="terceros:t_Importe" use="required">
                          <xs:annotation>
                            <xs:documentation>Atributo requerido para se??alar el importe o monto del impuesto retenido</xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="Traslados">
                <xs:annotation>
                  <xs:documentation>Nodo opcional para asentar o referir los impuestos trasladados aplicables</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="Traslado">
                      <xs:annotation>
                        <xs:documentation>Nodo para la informaci??n detallada de un traslado de impuesto espec??fico</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:attribute name="impuesto" use="required">
                          <xs:annotation>
                            <xs:documentation>Atributo requerido para se??alar el tipo de impuesto trasladado</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:whiteSpace value="collapse" />
                              <xs:enumeration value="IVA">
                                <xs:annotation>
                                  <xs:documentation>Impuesto al Valor Agregado</xs:documentation>
                                </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="IEPS">
                                <xs:annotation>
                                  <xs:documentation>Impuesto especial sobre productos y servicios</xs:documentation>
                                </xs:annotation>
                              </xs:enumeration>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="tasa" type="terceros:t_Importe" use="required">
                          <xs:annotation>
                            <xs:documentation>Atributo requerido para se??alar la tasa del impuesto que se traslada por cada concepto amparado en el comprobante</xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="importe" type="terceros:t_Importe" use="required">
                          <xs:annotation>
                            <xs:documentation>Atributo requerido para se??alar el importe del impuesto trasladado</xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute fixed="1.1" name="version" use="required">
        <xs:annotation>
          <xs:documentation>Atributo requerido con valor prefijado a 1.1 que indica la versi??n del estandar bajo el que se encuentra expresado el complemento.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="rfc" type="terceros:t_RFC" use="required">
        <xs:annotation>
          <xs:documentation>Atributo requerido para la Clave del Registro Federal de Contribuyentes correspondiente al contribuyente emisor del comprobante sin guiones o espacios.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="nombre">
        <xs:annotation>
          <xs:documentation>Atributo opcional para el nombre o raz??n social del contribuyente emisor del comprobante.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:whiteSpace value="collapse" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="t_UbicacionFiscal">
    <xs:annotation>
      <xs:documentation>Tipo definido para expresar domicilios o direcciones</xs:documentation>
    </xs:annotation>
    <xs:attribute name="calle" use="required">
      <xs:annotation>
        <xs:documentation>Este atributo requerido sirve para precisar la avenida, calle, camino o carretera donde se da la ubicaci??n.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1" />
          <xs:whiteSpace value="collapse" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="noExterior" use="optional">
      <xs:annotation>
        <xs:documentation>Este atributo opcional sirve para expresar el n??mero particular en donde se da la ubicaci??n sobre una calle dada.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1" />
          <xs:whiteSpace value="collapse" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="noInterior" use="optional">
      <xs:annotation>
        <xs:documentation>Este atributo opcional sirve para expresar informaci??n adicional para especificar la ubicaci??n cuando calle y n??mero exterior (noExterior) no resulten suficientes para determinar la ubicaci??n de forma precisa.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1" />
          <xs:whiteSpace value="collapse" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="colonia" use="optional">
      <xs:annotation>
        <xs:documentation>Este atributo opcional sirve para precisar la colonia en donde se da la ubicaci??n cuando se desea ser m??s espec??fico en casos de ubicaciones urbanas.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1" />
          <xs:whiteSpace value="collapse" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="localidad" use="optional">
      <xs:annotation>
        <xs:documentation>Atributo opcional que sirve para precisar la ciudad o poblaci??n donde se da la ubicaci??n.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1" />
          <xs:whiteSpace value="collapse" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="referencia" use="optional">
      <xs:annotation>
        <xs:documentation>Atributo opcional para expresar una referencia de ubicaci??n adicional.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:whiteSpace value="collapse" />
          <xs:minLength value="1" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="municipio" use="required">
      <xs:annotation>
        <xs:documentation>Atributo requerido que sirve para precisar el municipio o delegaci??n (en el caso del Distrito Federal) en donde se da la ubicaci??n.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1" />
          <xs:whiteSpace value="collapse" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="estado" use="required">
      <xs:annotation>
        <xs:documentation>Atributo requerido que sirve para precisar el estado o entidad federativa donde se da la ubicaci??n.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1" />
          <xs:whiteSpace value="collapse" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="pais" use="required">
      <xs:annotation>
        <xs:documentation>Atributo requerido que sirve para precisar el pa??s donde se da la ubicaci??n.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1" />
          <xs:whiteSpace value="collapse" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="codigoPostal" use="required">
      <xs:annotation>
        <xs:documentation>Atributo requerido que sirve para asentar el c??digo postal en donde se da la ubicaci??n.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:whiteSpace value="collapse" />
          <xs:length value="5" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="t_InformacionAduanera">
    <xs:annotation>
      <xs:documentation>Tipo definido para expresar informaci??n aduanera</xs:documentation>
    </xs:annotation>
    <xs:attribute name="numero" use="required">
      <xs:annotation>
        <xs:documentation>Atributo requerido para expresar el n??mero del documento aduanero que ampara la importaci??n del bien.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1" />
          <xs:whiteSpace value="collapse" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="fecha" use="required">
      <xs:annotation>
        <xs:documentation>Atributo requerido para expresar la fecha de expedici??n del documento aduanero que ampara la importaci??n del bien.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:date">
          <xs:whiteSpace value="collapse" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aduana">
      <xs:annotation>
        <xs:documentation>Atributo opcional para precisar la aduana por la que se efectu?? la importaci??n del bien.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1" />
          <xs:whiteSpace value="collapse" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:simpleType name="t_RFC">
    <xs:annotation>
      <xs:documentation>Tipo definido para expresar claves del Registro Federal de Contribuyentes</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="12" />
      <xs:maxLength value="13" />
      <xs:whiteSpace value="collapse" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="t_Importe">
    <xs:annotation>
      <xs:documentation>Tipo definido para expresar importes num??ricos con fracci??n hasta seis decimales</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal">
      <xs:fractionDigits value="6" />
      <xs:whiteSpace value="collapse" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>