RouteCarnicos/Trunk/Codigo/Escritorio/ERMTRP/ERMTRPLOG/Web References/com.tralix.pac/ventavehiculos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ventavehiculos="http://www.sat.gob.mx/ventavehiculos" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.sat.gob.mx/ventavehiculos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="VentaVehiculos">
    <xs:annotation>
      <xs:documentation>Complemento concepto que permite incorporar a los fabricantes, ensambladores o distribuidores autorizados de autom??viles nuevos, as?? como aqu??llos que importen autom??viles para permanecer en forma definitiva en la franja fronteriza norte del pa??s y en los Estados de Baja California, Baja California Sur y la regi??n parcial del Estado de Sonora, a un Comprobante Fiscal Digital (CFD) o a un Comprobante Fiscal Digital a trav??s de Internet (CFDI) la clave vehicular que corresponda a la versi??n enajenada.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="InformacionAduanera" type="ventavehiculos:t_InformacionAduanera">
          <xs:annotation>
            <xs:documentation>Nodo opcional para introducir la informaci??n aduanera aplicable cuando se trate de ventas de primera mano de mercanc??as importadas.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Parte">
          <xs:annotation>
            <xs:documentation>Nodo opcional para expresar las partes o componentes que integran la totalidad del concepto expresado en el CFD o CFDI.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="InformacionAduanera" type="ventavehiculos:t_InformacionAduanera">
                <xs:annotation>
                  <xs:documentation>Nodo opcional para introducir la informaci??n aduanera aplicable cuando se trate de partes o componentes importados vendidos de primera mano.</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="cantidad" use="required">
              <xs:annotation>
                <xs:documentation>Atributo requerido para precisar la cantidad de bienes o servicios del tipo particular definido por la presente parte.</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:decimal">
                  <xs:whiteSpace value="collapse" />
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="unidad" use="optional">
              <xs:annotation>
                <xs:documentation>Atributo opcional para precisar la unidad de medida aplicable para la cantidad expresada en la parte.</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:whiteSpace value="collapse" />
                  <xs:minLength value="1" />
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="noIdentificacion" use="optional">
              <xs:annotation>
                <xs:documentation>Atributo opcional para expresar el n??mero de serie del bien o identificador del servicio amparado por la presente parte.</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:minLength value="1" />
                  <xs:whiteSpace value="collapse" />
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="descripcion" use="required">
              <xs:annotation>
                <xs:documentation>Atributo requerido para precisar la descripci??n del bien o servicio cubierto por la presente parte.</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:minLength value="1" />
                  <xs:whiteSpace value="collapse" />
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="valorUnitario" type="ventavehiculos:t_Importe" use="optional">
              <xs:annotation>
                <xs:documentation>Atributo opcional para precisar el valor o precio unitario del bien o servicio cubierto por la presente parte.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="importe" type="ventavehiculos:t_Importe" use="optional">
              <xs:annotation>
                <xs:documentation>Atributo opcional para precisar el importe total de los bienes o servicios de la presente parte. Debe ser equivalente al resultado de multiplicar la cantidad por el valor unitario expresado en la parte.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
      </xs:choice>
      <xs:attribute fixed="1.0" name="version" use="required">
        <xs:annotation>
          <xs:documentation>Atributo requerido con valor prefijado a 1.0 que indica la versi??n del est??ndar bajo el que se encuentra expresado el comprobante.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="ClaveVehicular" use="required">
        <xs:annotation>
          <xs:documentation>Atributo requerido para precisar Clave vehicular que corresponda a la versi??n del veh??culo enajenado.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:whiteSpace value="collapse" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="t_InformacionAduanera">
    <xs:annotation>
      <xs:documentation>Tipo definido para expresar informaci??n aduanera</xs:documentation>
    </xs:annotation>
    <xs:attribute name="numero" use="required">
      <xs:annotation>
        <xs:documentation>Atributo requerido para expresar el n??mero del documento aduanero que ampara la importaci??n del bien.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1" />
          <xs:whiteSpace value="collapse" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="fecha" use="required">
      <xs:annotation>
        <xs:documentation>Atributo requerido para expresar la fecha de expedici??n del documento aduanero que ampara la importaci??n del bien.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:date">
          <xs:whiteSpace value="collapse" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aduana">
      <xs:annotation>
        <xs:documentation>Atributo opcional para precisar la aduana por la que se efectu?? la importaci??n del bien.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1" />
          <xs:whiteSpace value="collapse" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:simpleType name="t_Importe">
    <xs:annotation>
      <xs:documentation>Tipo definido para expresar importes num??ricos con fracci??n hasta seis decimales</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal">
      <xs:fractionDigits value="6" />
      <xs:whiteSpace value="collapse" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>