Selling/Tag/4.1.0.1/Codigo/Escritorio/pvta/Backup/Web References/WSTimbrado/TimbradoCFDServiceExternal.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s1="http://tempuri.org/AbstractTypes" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="TimbradoCFDStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strXML" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TimbradoCFDStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TimbradoCFDStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TimbradoCFDStrXMLAcuse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strXML" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TimbradoCFDStrXMLAcuseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TimbradoCFDStrXMLAcuseResult" type="tns:RespuestaTimbradoStr" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RespuestaTimbradoStr">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="StatusEnvio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cfdi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AcuseEnvio" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="TimbradoCFDStrXML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strXML" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TimbradoCFDStrXMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TimbradoCFDStrXMLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TimbradoCFDXml">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmldTimbre">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="strUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TimbradoCFDXmlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TimbradoCFDXmlResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TimbradoCFDXmlAcuse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmldTimbre">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="strUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TimbradoCFDXmlAcuseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TimbradoCFDXmlAcuseResult" type="tns:RespuestaTimbrado" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RespuestaTimbrado">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="StatusEnvio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cfdi">
            <s:complexType mixed="true">
              <s:sequence>
                <s:any />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="AcuseEnvio">
            <s:complexType mixed="true">
              <s:sequence>
                <s:any />
              </s:sequence>
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:element name="GetEstatuUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEstatuUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEstatuUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TrackingBalance">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idEmpresa" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TrackingBalanceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TrackingBalanceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnviarXmlCancelacionCFDIUsr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmlCancelacion" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="strUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strPwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnviarXmlCancelacionCFDIUsrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EnviarXmlCancelacionCFDIUsrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="RespuestaTimbradoStr" nillable="true" type="tns:RespuestaTimbradoStr" />
    </s:schema>
    <s:schema targetNamespace="http://tempuri.org/AbstractTypes">
      <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <s:complexType name="StringArray">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="String" type="s:string" />
            </s:sequence>
          </s:restriction>
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="TimbradoCFDStrSoapIn">
    <wsdl:part name="parameters" element="tns:TimbradoCFDStr" />
  </wsdl:message>
  <wsdl:message name="TimbradoCFDStrSoapOut">
    <wsdl:part name="parameters" element="tns:TimbradoCFDStrResponse" />
  </wsdl:message>
  <wsdl:message name="TimbradoCFDStrXMLAcuseSoapIn">
    <wsdl:part name="parameters" element="tns:TimbradoCFDStrXMLAcuse" />
  </wsdl:message>
  <wsdl:message name="TimbradoCFDStrXMLAcuseSoapOut">
    <wsdl:part name="parameters" element="tns:TimbradoCFDStrXMLAcuseResponse" />
  </wsdl:message>
  <wsdl:message name="TimbradoCFDStrXMLSoapIn">
    <wsdl:part name="parameters" element="tns:TimbradoCFDStrXML" />
  </wsdl:message>
  <wsdl:message name="TimbradoCFDStrXMLSoapOut">
    <wsdl:part name="parameters" element="tns:TimbradoCFDStrXMLResponse" />
  </wsdl:message>
  <wsdl:message name="TimbradoCFDXmlSoapIn">
    <wsdl:part name="parameters" element="tns:TimbradoCFDXml" />
  </wsdl:message>
  <wsdl:message name="TimbradoCFDXmlSoapOut">
    <wsdl:part name="parameters" element="tns:TimbradoCFDXmlResponse" />
  </wsdl:message>
  <wsdl:message name="TimbradoCFDXmlAcuseSoapIn">
    <wsdl:part name="parameters" element="tns:TimbradoCFDXmlAcuse" />
  </wsdl:message>
  <wsdl:message name="TimbradoCFDXmlAcuseSoapOut">
    <wsdl:part name="parameters" element="tns:TimbradoCFDXmlAcuseResponse" />
  </wsdl:message>
  <wsdl:message name="GetEstatuUserSoapIn">
    <wsdl:part name="parameters" element="tns:GetEstatuUser" />
  </wsdl:message>
  <wsdl:message name="GetEstatuUserSoapOut">
    <wsdl:part name="parameters" element="tns:GetEstatuUserResponse" />
  </wsdl:message>
  <wsdl:message name="TrackingBalanceSoapIn">
    <wsdl:part name="parameters" element="tns:TrackingBalance" />
  </wsdl:message>
  <wsdl:message name="TrackingBalanceSoapOut">
    <wsdl:part name="parameters" element="tns:TrackingBalanceResponse" />
  </wsdl:message>
  <wsdl:message name="EnviarXmlCancelacionCFDIUsrSoapIn">
    <wsdl:part name="parameters" element="tns:EnviarXmlCancelacionCFDIUsr" />
  </wsdl:message>
  <wsdl:message name="EnviarXmlCancelacionCFDIUsrSoapOut">
    <wsdl:part name="parameters" element="tns:EnviarXmlCancelacionCFDIUsrResponse" />
  </wsdl:message>
  <wsdl:message name="TimbradoCFDStrHttpGetIn">
    <wsdl:part name="strXML" type="s:string" />
    <wsdl:part name="strUser" type="s:string" />
    <wsdl:part name="strPass" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TimbradoCFDStrHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="TimbradoCFDStrXMLAcuseHttpGetIn">
    <wsdl:part name="strXML" type="s:string" />
    <wsdl:part name="strUser" type="s:string" />
    <wsdl:part name="strPass" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TimbradoCFDStrXMLAcuseHttpGetOut">
    <wsdl:part name="Body" element="tns:RespuestaTimbradoStr" />
  </wsdl:message>
  <wsdl:message name="TimbradoCFDStrXMLHttpGetIn">
    <wsdl:part name="strXML" type="s:string" />
    <wsdl:part name="strUser" type="s:string" />
    <wsdl:part name="strPass" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TimbradoCFDStrXMLHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetEstatuUserHttpGetIn">
    <wsdl:part name="strUser" type="s:string" />
    <wsdl:part name="strPass" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetEstatuUserHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="TrackingBalanceHttpGetIn">
    <wsdl:part name="idEmpresa" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TrackingBalanceHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="EnviarXmlCancelacionCFDIUsrHttpGetIn">
    <wsdl:part name="xmlCancelacion" type="s1:StringArray" />
    <wsdl:part name="strUser" type="s:string" />
    <wsdl:part name="strPwd" type="s:string" />
  </wsdl:message>
  <wsdl:message name="EnviarXmlCancelacionCFDIUsrHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="TimbradoCFDStrHttpPostIn">
    <wsdl:part name="strXML" type="s:string" />
    <wsdl:part name="strUser" type="s:string" />
    <wsdl:part name="strPass" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TimbradoCFDStrHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="TimbradoCFDStrXMLAcuseHttpPostIn">
    <wsdl:part name="strXML" type="s:string" />
    <wsdl:part name="strUser" type="s:string" />
    <wsdl:part name="strPass" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TimbradoCFDStrXMLAcuseHttpPostOut">
    <wsdl:part name="Body" element="tns:RespuestaTimbradoStr" />
  </wsdl:message>
  <wsdl:message name="TimbradoCFDStrXMLHttpPostIn">
    <wsdl:part name="strXML" type="s:string" />
    <wsdl:part name="strUser" type="s:string" />
    <wsdl:part name="strPass" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TimbradoCFDStrXMLHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetEstatuUserHttpPostIn">
    <wsdl:part name="strUser" type="s:string" />
    <wsdl:part name="strPass" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetEstatuUserHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="TrackingBalanceHttpPostIn">
    <wsdl:part name="idEmpresa" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TrackingBalanceHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="EnviarXmlCancelacionCFDIUsrHttpPostIn">
    <wsdl:part name="xmlCancelacion" type="s1:StringArray" />
    <wsdl:part name="strUser" type="s:string" />
    <wsdl:part name="strPwd" type="s:string" />
  </wsdl:message>
  <wsdl:message name="EnviarXmlCancelacionCFDIUsrHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="TimbradoCFDServiceExternalSoap">
    <wsdl:operation name="TimbradoCFDStr">
      <wsdl:input message="tns:TimbradoCFDStrSoapIn" />
      <wsdl:output message="tns:TimbradoCFDStrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TimbradoCFDStrXMLAcuse">
      <wsdl:input message="tns:TimbradoCFDStrXMLAcuseSoapIn" />
      <wsdl:output message="tns:TimbradoCFDStrXMLAcuseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TimbradoCFDStrXML">
      <wsdl:input message="tns:TimbradoCFDStrXMLSoapIn" />
      <wsdl:output message="tns:TimbradoCFDStrXMLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TimbradoCFDXml">
      <wsdl:input message="tns:TimbradoCFDXmlSoapIn" />
      <wsdl:output message="tns:TimbradoCFDXmlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TimbradoCFDXmlAcuse">
      <wsdl:input message="tns:TimbradoCFDXmlAcuseSoapIn" />
      <wsdl:output message="tns:TimbradoCFDXmlAcuseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEstatuUser">
      <wsdl:input message="tns:GetEstatuUserSoapIn" />
      <wsdl:output message="tns:GetEstatuUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TrackingBalance">
      <wsdl:input message="tns:TrackingBalanceSoapIn" />
      <wsdl:output message="tns:TrackingBalanceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EnviarXmlCancelacionCFDIUsr">
      <wsdl:input message="tns:EnviarXmlCancelacionCFDIUsrSoapIn" />
      <wsdl:output message="tns:EnviarXmlCancelacionCFDIUsrSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="TimbradoCFDServiceExternalHttpGet">
    <wsdl:operation name="TimbradoCFDStr">
      <wsdl:input message="tns:TimbradoCFDStrHttpGetIn" />
      <wsdl:output message="tns:TimbradoCFDStrHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="TimbradoCFDStrXMLAcuse">
      <wsdl:input message="tns:TimbradoCFDStrXMLAcuseHttpGetIn" />
      <wsdl:output message="tns:TimbradoCFDStrXMLAcuseHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="TimbradoCFDStrXML">
      <wsdl:input message="tns:TimbradoCFDStrXMLHttpGetIn" />
      <wsdl:output message="tns:TimbradoCFDStrXMLHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEstatuUser">
      <wsdl:input message="tns:GetEstatuUserHttpGetIn" />
      <wsdl:output message="tns:GetEstatuUserHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="TrackingBalance">
      <wsdl:input message="tns:TrackingBalanceHttpGetIn" />
      <wsdl:output message="tns:TrackingBalanceHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="EnviarXmlCancelacionCFDIUsr">
      <wsdl:input message="tns:EnviarXmlCancelacionCFDIUsrHttpGetIn" />
      <wsdl:output message="tns:EnviarXmlCancelacionCFDIUsrHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="TimbradoCFDServiceExternalHttpPost">
    <wsdl:operation name="TimbradoCFDStr">
      <wsdl:input message="tns:TimbradoCFDStrHttpPostIn" />
      <wsdl:output message="tns:TimbradoCFDStrHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="TimbradoCFDStrXMLAcuse">
      <wsdl:input message="tns:TimbradoCFDStrXMLAcuseHttpPostIn" />
      <wsdl:output message="tns:TimbradoCFDStrXMLAcuseHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="TimbradoCFDStrXML">
      <wsdl:input message="tns:TimbradoCFDStrXMLHttpPostIn" />
      <wsdl:output message="tns:TimbradoCFDStrXMLHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEstatuUser">
      <wsdl:input message="tns:GetEstatuUserHttpPostIn" />
      <wsdl:output message="tns:GetEstatuUserHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="TrackingBalance">
      <wsdl:input message="tns:TrackingBalanceHttpPostIn" />
      <wsdl:output message="tns:TrackingBalanceHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="EnviarXmlCancelacionCFDIUsr">
      <wsdl:input message="tns:EnviarXmlCancelacionCFDIUsrHttpPostIn" />
      <wsdl:output message="tns:EnviarXmlCancelacionCFDIUsrHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TimbradoCFDServiceExternalSoap" type="tns:TimbradoCFDServiceExternalSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TimbradoCFDStr">
      <soap:operation soapAction="http://tempuri.org/TimbradoCFDStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimbradoCFDStrXMLAcuse">
      <soap:operation soapAction="http://tempuri.org/TimbradoCFDStrXMLAcuse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimbradoCFDStrXML">
      <soap:operation soapAction="http://tempuri.org/TimbradoCFDStrXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimbradoCFDXml">
      <soap:operation soapAction="http://tempuri.org/TimbradoCFDXml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimbradoCFDXmlAcuse">
      <soap:operation soapAction="http://tempuri.org/TimbradoCFDXmlAcuse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEstatuUser">
      <soap:operation soapAction="http://tempuri.org/GetEstatuUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TrackingBalance">
      <soap:operation soapAction="http://tempuri.org/TrackingBalance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarXmlCancelacionCFDIUsr">
      <soap:operation soapAction="http://tempuri.org/EnviarXmlCancelacionCFDIUsr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TimbradoCFDServiceExternalSoap12" type="tns:TimbradoCFDServiceExternalSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TimbradoCFDStr">
      <soap12:operation soapAction="http://tempuri.org/TimbradoCFDStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimbradoCFDStrXMLAcuse">
      <soap12:operation soapAction="http://tempuri.org/TimbradoCFDStrXMLAcuse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimbradoCFDStrXML">
      <soap12:operation soapAction="http://tempuri.org/TimbradoCFDStrXML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimbradoCFDXml">
      <soap12:operation soapAction="http://tempuri.org/TimbradoCFDXml" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimbradoCFDXmlAcuse">
      <soap12:operation soapAction="http://tempuri.org/TimbradoCFDXmlAcuse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEstatuUser">
      <soap12:operation soapAction="http://tempuri.org/GetEstatuUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TrackingBalance">
      <soap12:operation soapAction="http://tempuri.org/TrackingBalance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarXmlCancelacionCFDIUsr">
      <soap12:operation soapAction="http://tempuri.org/EnviarXmlCancelacionCFDIUsr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TimbradoCFDServiceExternalHttpGet" type="tns:TimbradoCFDServiceExternalHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="TimbradoCFDStr">
      <http:operation location="/TimbradoCFDStr" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimbradoCFDStrXMLAcuse">
      <http:operation location="/TimbradoCFDStrXMLAcuse" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimbradoCFDStrXML">
      <http:operation location="/TimbradoCFDStrXML" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEstatuUser">
      <http:operation location="/GetEstatuUser" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TrackingBalance">
      <http:operation location="/TrackingBalance" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarXmlCancelacionCFDIUsr">
      <http:operation location="/EnviarXmlCancelacionCFDIUsr" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TimbradoCFDServiceExternalHttpPost" type="tns:TimbradoCFDServiceExternalHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="TimbradoCFDStr">
      <http:operation location="/TimbradoCFDStr" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimbradoCFDStrXMLAcuse">
      <http:operation location="/TimbradoCFDStrXMLAcuse" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimbradoCFDStrXML">
      <http:operation location="/TimbradoCFDStrXML" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEstatuUser">
      <http:operation location="/GetEstatuUser" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TrackingBalance">
      <http:operation location="/TrackingBalance" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarXmlCancelacionCFDIUsr">
      <http:operation location="/EnviarXmlCancelacionCFDIUsr" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TimbradoCFDServiceExternal">
    <wsdl:port name="TimbradoCFDServiceExternalSoap" binding="tns:TimbradoCFDServiceExternalSoap">
      <soap:address location="http://72.3.203.137:101/TimbradoCFDServiceExternal.asmx" />
    </wsdl:port>
    <wsdl:port name="TimbradoCFDServiceExternalSoap12" binding="tns:TimbradoCFDServiceExternalSoap12">
      <soap12:address location="http://72.3.203.137:101/TimbradoCFDServiceExternal.asmx" />
    </wsdl:port>
    <wsdl:port name="TimbradoCFDServiceExternalHttpGet" binding="tns:TimbradoCFDServiceExternalHttpGet">
      <http:address location="http://72.3.203.137:101/TimbradoCFDServiceExternal.asmx" />
    </wsdl:port>
    <wsdl:port name="TimbradoCFDServiceExternalHttpPost" binding="tns:TimbradoCFDServiceExternalHttpPost">
      <http:address location="http://72.3.203.137:101/TimbradoCFDServiceExternal.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>