Dacza/Trunk/Codigo/ServicesCentral/App_WebReferences/LicenciamientoDuxstar/LicenciamientoDuxstar.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ContratoActivo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vContrato" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ContratoActivoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ContratoActivoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtieneFechaVencimiento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vContrato" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtieneFechaVencimientoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtieneFechaVencimientoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidarLlaveMaestraTerminales">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LlaveMaestra" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NumContrato" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidarLlaveMaestraTerminalesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ValidarLlaveMaestraTerminalesResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidaLicenciamientoGlobalTerminales">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pvContratoNum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pvDispositivoID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidaLicenciamientoGlobalTerminalesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ValidaLicenciamientoGlobalTerminalesResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LimpiaLicenciamientoTerminales">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sDispositivosID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LimpiaLicenciamientoTerminalesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LimpiaLicenciamientoTerminalesResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ContratoActivoSoapIn">
    <wsdl:part name="parameters" element="tns:ContratoActivo" />
  </wsdl:message>
  <wsdl:message name="ContratoActivoSoapOut">
    <wsdl:part name="parameters" element="tns:ContratoActivoResponse" />
  </wsdl:message>
  <wsdl:message name="ObtieneFechaVencimientoSoapIn">
    <wsdl:part name="parameters" element="tns:ObtieneFechaVencimiento" />
  </wsdl:message>
  <wsdl:message name="ObtieneFechaVencimientoSoapOut">
    <wsdl:part name="parameters" element="tns:ObtieneFechaVencimientoResponse" />
  </wsdl:message>
  <wsdl:message name="ValidarLlaveMaestraTerminalesSoapIn">
    <wsdl:part name="parameters" element="tns:ValidarLlaveMaestraTerminales" />
  </wsdl:message>
  <wsdl:message name="ValidarLlaveMaestraTerminalesSoapOut">
    <wsdl:part name="parameters" element="tns:ValidarLlaveMaestraTerminalesResponse" />
  </wsdl:message>
  <wsdl:message name="ValidaLicenciamientoGlobalTerminalesSoapIn">
    <wsdl:part name="parameters" element="tns:ValidaLicenciamientoGlobalTerminales" />
  </wsdl:message>
  <wsdl:message name="ValidaLicenciamientoGlobalTerminalesSoapOut">
    <wsdl:part name="parameters" element="tns:ValidaLicenciamientoGlobalTerminalesResponse" />
  </wsdl:message>
  <wsdl:message name="LimpiaLicenciamientoTerminalesSoapIn">
    <wsdl:part name="parameters" element="tns:LimpiaLicenciamientoTerminales" />
  </wsdl:message>
  <wsdl:message name="LimpiaLicenciamientoTerminalesSoapOut">
    <wsdl:part name="parameters" element="tns:LimpiaLicenciamientoTerminalesResponse" />
  </wsdl:message>
  <wsdl:portType name="ScLicenciamientoRouteSoap">
    <wsdl:operation name="ContratoActivo">
      <wsdl:input message="tns:ContratoActivoSoapIn" />
      <wsdl:output message="tns:ContratoActivoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtieneFechaVencimiento">
      <wsdl:input message="tns:ObtieneFechaVencimientoSoapIn" />
      <wsdl:output message="tns:ObtieneFechaVencimientoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidarLlaveMaestraTerminales">
      <wsdl:input message="tns:ValidarLlaveMaestraTerminalesSoapIn" />
      <wsdl:output message="tns:ValidarLlaveMaestraTerminalesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidaLicenciamientoGlobalTerminales">
      <wsdl:input message="tns:ValidaLicenciamientoGlobalTerminalesSoapIn" />
      <wsdl:output message="tns:ValidaLicenciamientoGlobalTerminalesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LimpiaLicenciamientoTerminales">
      <wsdl:input message="tns:LimpiaLicenciamientoTerminalesSoapIn" />
      <wsdl:output message="tns:LimpiaLicenciamientoTerminalesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ScLicenciamientoRouteSoap" type="tns:ScLicenciamientoRouteSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ContratoActivo">
      <soap:operation soapAction="http://tempuri.org/ContratoActivo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtieneFechaVencimiento">
      <soap:operation soapAction="http://tempuri.org/ObtieneFechaVencimiento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarLlaveMaestraTerminales">
      <soap:operation soapAction="http://tempuri.org/ValidarLlaveMaestraTerminales" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidaLicenciamientoGlobalTerminales">
      <soap:operation soapAction="http://tempuri.org/ValidaLicenciamientoGlobalTerminales" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LimpiaLicenciamientoTerminales">
      <soap:operation soapAction="http://tempuri.org/LimpiaLicenciamientoTerminales" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ScLicenciamientoRouteSoap12" type="tns:ScLicenciamientoRouteSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ContratoActivo">
      <soap12:operation soapAction="http://tempuri.org/ContratoActivo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtieneFechaVencimiento">
      <soap12:operation soapAction="http://tempuri.org/ObtieneFechaVencimiento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarLlaveMaestraTerminales">
      <soap12:operation soapAction="http://tempuri.org/ValidarLlaveMaestraTerminales" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidaLicenciamientoGlobalTerminales">
      <soap12:operation soapAction="http://tempuri.org/ValidaLicenciamientoGlobalTerminales" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LimpiaLicenciamientoTerminales">
      <soap12:operation soapAction="http://tempuri.org/LimpiaLicenciamientoTerminales" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ScLicenciamientoRoute">
    <wsdl:port name="ScLicenciamientoRouteSoap" binding="tns:ScLicenciamientoRouteSoap">
      <soap:address location="http://localhost/Licenciamiento%20Route%20(Publicacion01)/LicenciamientoDuxstar.asmx" />
    </wsdl:port>
    <wsdl:port name="ScLicenciamientoRouteSoap12" binding="tns:ScLicenciamientoRouteSoap12">
      <soap12:address location="http://localhost/Licenciamiento%20Route%20(Publicacion01)/LicenciamientoDuxstar.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>