Selling/Tag/4.1.0.21/Codigo/Escritorio/pvta/Service References/DigitalInvoiceC/Timbrado.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="https://digitalinvoice.com.mx/WSDI" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://tempuri.org/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Timbrado" targetNamespace="https://digitalinvoice.com.mx/WSDI" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://tempuri.org/" location="https://digitalinvoicecfdi.com.mx/WS_WSDI/DigitalInvoice.WebServices.WSDI.Timbrado.svc?wsdl=wsdl0" />
  <wsdl:types>
    <xsd:schema targetNamespace="https://digitalinvoice.com.mx/WSDI/Imports">
      <xsd:import schemaLocation="https://digitalinvoicecfdi.com.mx/WS_WSDI/DigitalInvoice.WebServices.WSDI.Timbrado.svc?xsd=xsd0" namespace="https://digitalinvoice.com.mx/WSDI" />
      <xsd:import schemaLocation="https://digitalinvoicecfdi.com.mx/WS_WSDI/DigitalInvoice.WebServices.WSDI.Timbrado.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DigitalInvoice.Processes.Exceptions" />
      <xsd:import schemaLocation="https://digitalinvoicecfdi.com.mx/WS_WSDI/DigitalInvoice.WebServices.WSDI.Timbrado.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://digitalinvoicecfdi.com.mx/WS_WSDI/DigitalInvoice.WebServices.WSDI.Timbrado.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DigitalInvoice.WebServices.WSDI" />
      <xsd:import schemaLocation="https://digitalinvoicecfdi.com.mx/WS_WSDI/DigitalInvoice.WebServices.WSDI.Timbrado.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITimbrado_Timbrar_InputMessage">
    <wsdl:part name="parameters" element="tns:Timbrar" />
  </wsdl:message>
  <wsdl:message name="ITimbrado_Timbrar_OutputMessage">
    <wsdl:part name="parameters" element="tns:TimbrarResponse" />
  </wsdl:message>
  <wsdl:message name="ITimbrado_Timbrar_CFDiFaultContractFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/DigitalInvoice.Processes.Exceptions" name="detail" element="q1:CFDiFaultContract" />
  </wsdl:message>
  <wsdl:message name="ITimbrado_Timbrar_ProcessFaultContractFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/DigitalInvoice.Processes.Exceptions" name="detail" element="q2:ProcessFaultContract" />
  </wsdl:message>
  <wsdl:message name="ITimbrado_TimbrarSoloTimbre_InputMessage">
    <wsdl:part name="parameters" element="tns:TimbrarSoloTimbre" />
  </wsdl:message>
  <wsdl:message name="ITimbrado_TimbrarSoloTimbre_OutputMessage">
    <wsdl:part name="parameters" element="tns:TimbrarSoloTimbreResponse" />
  </wsdl:message>
  <wsdl:message name="ITimbrado_TimbrarSoloTimbre_CFDiFaultContractFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/DigitalInvoice.Processes.Exceptions" name="detail" element="q3:CFDiFaultContract" />
  </wsdl:message>
  <wsdl:message name="ITimbrado_TimbrarSoloTimbre_ProcessFaultContractFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/DigitalInvoice.Processes.Exceptions" name="detail" element="q4:ProcessFaultContract" />
  </wsdl:message>
  <wsdl:message name="ITimbrado_TimbrarTest_InputMessage">
    <wsdl:part name="parameters" element="tns:TimbrarTest" />
  </wsdl:message>
  <wsdl:message name="ITimbrado_TimbrarTest_OutputMessage">
    <wsdl:part name="parameters" element="tns:TimbrarTestResponse" />
  </wsdl:message>
  <wsdl:message name="ITimbrado_TimbrarTest_ProcessFaultContractFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/DigitalInvoice.Processes.Exceptions" name="detail" element="q5:ProcessFaultContract" />
  </wsdl:message>
  <wsdl:message name="ITimbrado_TimbrarTest_CFDiFaultContractFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/DigitalInvoice.Processes.Exceptions" name="detail" element="q6:CFDiFaultContract" />
  </wsdl:message>
  <wsdl:message name="ITimbrado_TimbrarSoloTimbreTest_InputMessage">
    <wsdl:part name="parameters" element="tns:TimbrarSoloTimbreTest" />
  </wsdl:message>
  <wsdl:message name="ITimbrado_TimbrarSoloTimbreTest_OutputMessage">
    <wsdl:part name="parameters" element="tns:TimbrarSoloTimbreTestResponse" />
  </wsdl:message>
  <wsdl:message name="ITimbrado_TimbrarSoloTimbreTest_ProcessFaultContractFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/DigitalInvoice.Processes.Exceptions" name="detail" element="q7:ProcessFaultContract" />
  </wsdl:message>
  <wsdl:message name="ITimbrado_TimbrarSoloTimbreTest_CFDiFaultContractFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/DigitalInvoice.Processes.Exceptions" name="detail" element="q8:CFDiFaultContract" />
  </wsdl:message>
  <wsdl:message name="ITimbrado_TimbrarAck_InputMessage">
    <wsdl:part name="parameters" element="tns:TimbrarAck" />
  </wsdl:message>
  <wsdl:message name="ITimbrado_TimbrarAck_OutputMessage">
    <wsdl:part name="parameters" element="tns:TimbrarAckResponse" />
  </wsdl:message>
  <wsdl:message name="ITimbrado_TimbrarAck_CFDiFaultContractFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.datacontract.org/2004/07/DigitalInvoice.Processes.Exceptions" name="detail" element="q9:CFDiFaultContract" />
  </wsdl:message>
  <wsdl:message name="ITimbrado_TimbrarAck_ProcessFaultContractFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.datacontract.org/2004/07/DigitalInvoice.Processes.Exceptions" name="detail" element="q10:ProcessFaultContract" />
  </wsdl:message>
  <wsdl:message name="ITimbrado_ObtenerAck_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAck" />
  </wsdl:message>
  <wsdl:message name="ITimbrado_ObtenerAck_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAckResponse" />
  </wsdl:message>
  <wsdl:message name="ITimbrado_ObtenerAck_CFDiFaultContractFault_FaultMessage">
    <wsdl:part xmlns:q11="http://schemas.datacontract.org/2004/07/DigitalInvoice.Processes.Exceptions" name="detail" element="q11:CFDiFaultContract" />
  </wsdl:message>
  <wsdl:message name="ITimbrado_ObtenerAck_ProcessFaultContractFault_FaultMessage">
    <wsdl:part xmlns:q12="http://schemas.datacontract.org/2004/07/DigitalInvoice.Processes.Exceptions" name="detail" element="q12:ProcessFaultContract" />
  </wsdl:message>
  <wsdl:message name="ITimbrado_RecuperarTimbre_InputMessage">
    <wsdl:part name="parameters" element="tns:RecuperarTimbre" />
  </wsdl:message>
  <wsdl:message name="ITimbrado_RecuperarTimbre_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecuperarTimbreResponse" />
  </wsdl:message>
  <wsdl:message name="ITimbrado_RecuperarTimbre_CFDiFaultContractFault_FaultMessage">
    <wsdl:part xmlns:q13="http://schemas.datacontract.org/2004/07/DigitalInvoice.Processes.Exceptions" name="detail" element="q13:CFDiFaultContract" />
  </wsdl:message>
  <wsdl:message name="ITimbrado_RecuperarTimbre_ProcessFaultContractFault_FaultMessage">
    <wsdl:part xmlns:q14="http://schemas.datacontract.org/2004/07/DigitalInvoice.Processes.Exceptions" name="detail" element="q14:ProcessFaultContract" />
  </wsdl:message>
  <wsdl:message name="ITimbrado_RecuperarTimbreUUID_InputMessage">
    <wsdl:part name="parameters" element="tns:RecuperarTimbreUUID" />
  </wsdl:message>
  <wsdl:message name="ITimbrado_RecuperarTimbreUUID_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecuperarTimbreUUIDResponse" />
  </wsdl:message>
  <wsdl:message name="ITimbrado_RecuperarTimbreUUID_ProcessFaultContractFault_FaultMessage">
    <wsdl:part xmlns:q15="http://schemas.datacontract.org/2004/07/DigitalInvoice.Processes.Exceptions" name="detail" element="q15:ProcessFaultContract" />
  </wsdl:message>
  <wsdl:message name="ITimbrado_RecuperarTimbreUUID_CFDiFaultContractFault_FaultMessage">
    <wsdl:part xmlns:q16="http://schemas.datacontract.org/2004/07/DigitalInvoice.Processes.Exceptions" name="detail" element="q16:CFDiFaultContract" />
  </wsdl:message>
  <wsdl:message name="ITimbrado_RecuperarTimbres_InputMessage">
    <wsdl:part name="parameters" element="tns:RecuperarTimbres" />
  </wsdl:message>
  <wsdl:message name="ITimbrado_RecuperarTimbres_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecuperarTimbresResponse" />
  </wsdl:message>
  <wsdl:message name="ITimbrado_RecuperarTimbres_CFDiFaultContractFault_FaultMessage">
    <wsdl:part xmlns:q17="http://schemas.datacontract.org/2004/07/DigitalInvoice.Processes.Exceptions" name="detail" element="q17:CFDiFaultContract" />
  </wsdl:message>
  <wsdl:message name="ITimbrado_RecuperarTimbres_ProcessFaultContractFault_FaultMessage">
    <wsdl:part xmlns:q18="http://schemas.datacontract.org/2004/07/DigitalInvoice.Processes.Exceptions" name="detail" element="q18:ProcessFaultContract" />
  </wsdl:message>
  <wsdl:message name="ITimbrado_TimbrarBase64_InputMessage">
    <wsdl:part name="parameters" element="tns:TimbrarBase64" />
  </wsdl:message>
  <wsdl:message name="ITimbrado_TimbrarBase64_OutputMessage">
    <wsdl:part name="parameters" element="tns:TimbrarBase64Response" />
  </wsdl:message>
  <wsdl:message name="ITimbrado_TimbrarBase64_CFDiFaultContractFault_FaultMessage">
    <wsdl:part xmlns:q19="http://schemas.datacontract.org/2004/07/DigitalInvoice.Processes.Exceptions" name="detail" element="q19:CFDiFaultContract" />
  </wsdl:message>
  <wsdl:message name="ITimbrado_TimbrarBase64_ProcessFaultContractFault_FaultMessage">
    <wsdl:part xmlns:q20="http://schemas.datacontract.org/2004/07/DigitalInvoice.Processes.Exceptions" name="detail" element="q20:ProcessFaultContract" />
  </wsdl:message>
  <wsdl:message name="ITimbrado_TimbrarTestBase64_InputMessage">
    <wsdl:part name="parameters" element="tns:TimbrarTestBase64" />
  </wsdl:message>
  <wsdl:message name="ITimbrado_TimbrarTestBase64_OutputMessage">
    <wsdl:part name="parameters" element="tns:TimbrarTestBase64Response" />
  </wsdl:message>
  <wsdl:message name="ITimbrado_TimbrarTestBase64_ProcessFaultContractFault_FaultMessage">
    <wsdl:part xmlns:q21="http://schemas.datacontract.org/2004/07/DigitalInvoice.Processes.Exceptions" name="detail" element="q21:ProcessFaultContract" />
  </wsdl:message>
  <wsdl:message name="ITimbrado_TimbrarTestBase64_CFDiFaultContractFault_FaultMessage">
    <wsdl:part xmlns:q22="http://schemas.datacontract.org/2004/07/DigitalInvoice.Processes.Exceptions" name="detail" element="q22:CFDiFaultContract" />
  </wsdl:message>
  <wsdl:message name="ITimbrado_TimbrarSoloTimbreTestBase64_InputMessage">
    <wsdl:part name="parameters" element="tns:TimbrarSoloTimbreTestBase64" />
  </wsdl:message>
  <wsdl:message name="ITimbrado_TimbrarSoloTimbreTestBase64_OutputMessage">
    <wsdl:part name="parameters" element="tns:TimbrarSoloTimbreTestBase64Response" />
  </wsdl:message>
  <wsdl:message name="ITimbrado_TimbrarSoloTimbreTestBase64_CFDiFaultContractFault_FaultMessage">
    <wsdl:part xmlns:q23="http://schemas.datacontract.org/2004/07/DigitalInvoice.Processes.Exceptions" name="detail" element="q23:CFDiFaultContract" />
  </wsdl:message>
  <wsdl:message name="ITimbrado_TimbrarSoloTimbreTestBase64_ProcessFaultContractFault_FaultMessage">
    <wsdl:part xmlns:q24="http://schemas.datacontract.org/2004/07/DigitalInvoice.Processes.Exceptions" name="detail" element="q24:ProcessFaultContract" />
  </wsdl:message>
  <wsdl:message name="ITimbrado_TimbrarAckBase64_InputMessage">
    <wsdl:part name="parameters" element="tns:TimbrarAckBase64" />
  </wsdl:message>
  <wsdl:message name="ITimbrado_TimbrarAckBase64_OutputMessage">
    <wsdl:part name="parameters" element="tns:TimbrarAckBase64Response" />
  </wsdl:message>
  <wsdl:message name="ITimbrado_TimbrarAckBase64_CFDiFaultContractFault_FaultMessage">
    <wsdl:part xmlns:q25="http://schemas.datacontract.org/2004/07/DigitalInvoice.Processes.Exceptions" name="detail" element="q25:CFDiFaultContract" />
  </wsdl:message>
  <wsdl:message name="ITimbrado_TimbrarAckBase64_ProcessFaultContractFault_FaultMessage">
    <wsdl:part xmlns:q26="http://schemas.datacontract.org/2004/07/DigitalInvoice.Processes.Exceptions" name="detail" element="q26:ProcessFaultContract" />
  </wsdl:message>
  <wsdl:message name="ITimbrado_RecuperarTimbreBase64_InputMessage">
    <wsdl:part name="parameters" element="tns:RecuperarTimbreBase64" />
  </wsdl:message>
  <wsdl:message name="ITimbrado_RecuperarTimbreBase64_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecuperarTimbreBase64Response" />
  </wsdl:message>
  <wsdl:message name="ITimbrado_RecuperarTimbreBase64_ProcessFaultContractFault_FaultMessage">
    <wsdl:part xmlns:q27="http://schemas.datacontract.org/2004/07/DigitalInvoice.Processes.Exceptions" name="detail" element="q27:ProcessFaultContract" />
  </wsdl:message>
  <wsdl:message name="ITimbrado_RecuperarTimbreBase64_CFDiFaultContractFault_FaultMessage">
    <wsdl:part xmlns:q28="http://schemas.datacontract.org/2004/07/DigitalInvoice.Processes.Exceptions" name="detail" element="q28:CFDiFaultContract" />
  </wsdl:message>
  <wsdl:message name="ITimbrado_RecuperarTimbreBase64UUID_InputMessage">
    <wsdl:part name="parameters" element="tns:RecuperarTimbreBase64UUID" />
  </wsdl:message>
  <wsdl:message name="ITimbrado_RecuperarTimbreBase64UUID_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecuperarTimbreBase64UUIDResponse" />
  </wsdl:message>
  <wsdl:message name="ITimbrado_RecuperarTimbreBase64UUID_CFDiFaultContractFault_FaultMessage">
    <wsdl:part xmlns:q29="http://schemas.datacontract.org/2004/07/DigitalInvoice.Processes.Exceptions" name="detail" element="q29:CFDiFaultContract" />
  </wsdl:message>
  <wsdl:message name="ITimbrado_RecuperarTimbreBase64UUID_ProcessFaultContractFault_FaultMessage">
    <wsdl:part xmlns:q30="http://schemas.datacontract.org/2004/07/DigitalInvoice.Processes.Exceptions" name="detail" element="q30:ProcessFaultContract" />
  </wsdl:message>
  <wsdl:message name="ITimbrado_RecuperarTimbresBase64_InputMessage">
    <wsdl:part name="parameters" element="tns:RecuperarTimbresBase64" />
  </wsdl:message>
  <wsdl:message name="ITimbrado_RecuperarTimbresBase64_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecuperarTimbresBase64Response" />
  </wsdl:message>
  <wsdl:message name="ITimbrado_RecuperarTimbresBase64_ProcessFaultContractFault_FaultMessage">
    <wsdl:part xmlns:q31="http://schemas.datacontract.org/2004/07/DigitalInvoice.Processes.Exceptions" name="detail" element="q31:ProcessFaultContract" />
  </wsdl:message>
  <wsdl:message name="ITimbrado_RecuperarTimbresBase64_CFDiFaultContractFault_FaultMessage">
    <wsdl:part xmlns:q32="http://schemas.datacontract.org/2004/07/DigitalInvoice.Processes.Exceptions" name="detail" element="q32:CFDiFaultContract" />
  </wsdl:message>
  <wsdl:message name="ITimbrado_TimbrarSoloTimbreBase64_InputMessage">
    <wsdl:part name="parameters" element="tns:TimbrarSoloTimbreBase64" />
  </wsdl:message>
  <wsdl:message name="ITimbrado_TimbrarSoloTimbreBase64_OutputMessage">
    <wsdl:part name="parameters" element="tns:TimbrarSoloTimbreBase64Response" />
  </wsdl:message>
  <wsdl:message name="ITimbrado_TimbrarSoloTimbreBase64_CFDiFaultContractFault_FaultMessage">
    <wsdl:part xmlns:q33="http://schemas.datacontract.org/2004/07/DigitalInvoice.Processes.Exceptions" name="detail" element="q33:CFDiFaultContract" />
  </wsdl:message>
  <wsdl:message name="ITimbrado_TimbrarSoloTimbreBase64_ProcessFaultContractFault_FaultMessage">
    <wsdl:part xmlns:q34="http://schemas.datacontract.org/2004/07/DigitalInvoice.Processes.Exceptions" name="detail" element="q34:ProcessFaultContract" />
  </wsdl:message>
  <wsdl:portType name="ITimbrado">
    <wsdl:operation name="Timbrar">
      <wsdl:input wsaw:Action="https://digitalinvoice.com.mx/WSDI/ITimbrado/Timbrar" message="tns:ITimbrado_Timbrar_InputMessage" />
      <wsdl:output wsaw:Action="https://digitalinvoice.com.mx/WSDI/ITimbrado/TimbrarResponse" message="tns:ITimbrado_Timbrar_OutputMessage" />
      <wsdl:fault wsaw:Action="http://digitalinvoice.com.mx/CFDiFaultContract" name="CFDiFaultContractFault" message="tns:ITimbrado_Timbrar_CFDiFaultContractFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://digitalinvoice.com.mx/ProcessFaultContract" name="ProcessFaultContractFault" message="tns:ITimbrado_Timbrar_ProcessFaultContractFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="TimbrarSoloTimbre">
      <wsdl:input wsaw:Action="https://digitalinvoice.com.mx/WSDI/ITimbrado/TimbrarSoloTimbre" message="tns:ITimbrado_TimbrarSoloTimbre_InputMessage" />
      <wsdl:output wsaw:Action="https://digitalinvoice.com.mx/WSDI/ITimbrado/TimbrarSoloTimbreResponse" message="tns:ITimbrado_TimbrarSoloTimbre_OutputMessage" />
      <wsdl:fault wsaw:Action="http://digitalinvoice.com.mx/CFDiFaultContract" name="CFDiFaultContractFault" message="tns:ITimbrado_TimbrarSoloTimbre_CFDiFaultContractFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://digitalinvoice.com.mx/ProcessFaultContract" name="ProcessFaultContractFault" message="tns:ITimbrado_TimbrarSoloTimbre_ProcessFaultContractFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="TimbrarTest">
      <wsdl:input wsaw:Action="https://digitalinvoice.com.mx/WSDI/ITimbrado/TimbrarTest" message="tns:ITimbrado_TimbrarTest_InputMessage" />
      <wsdl:output wsaw:Action="https://digitalinvoice.com.mx/WSDI/ITimbrado/TimbrarTestResponse" message="tns:ITimbrado_TimbrarTest_OutputMessage" />
      <wsdl:fault wsaw:Action="http://digitalinvoice.com.mx/ProcessFaultContract" name="ProcessFaultContractFault" message="tns:ITimbrado_TimbrarTest_ProcessFaultContractFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://digitalinvoice.com.mx/CFDiFaultContract" name="CFDiFaultContractFault" message="tns:ITimbrado_TimbrarTest_CFDiFaultContractFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="TimbrarSoloTimbreTest">
      <wsdl:input wsaw:Action="https://digitalinvoice.com.mx/WSDI/ITimbrado/TimbrarSoloTimbreTest" message="tns:ITimbrado_TimbrarSoloTimbreTest_InputMessage" />
      <wsdl:output wsaw:Action="https://digitalinvoice.com.mx/WSDI/ITimbrado/TimbrarSoloTimbreTestResponse" message="tns:ITimbrado_TimbrarSoloTimbreTest_OutputMessage" />
      <wsdl:fault wsaw:Action="http://digitalinvoice.com.mx/ProcessFaultContract" name="ProcessFaultContractFault" message="tns:ITimbrado_TimbrarSoloTimbreTest_ProcessFaultContractFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://digitalinvoice.com.mx/CFDiFaultContract" name="CFDiFaultContractFault" message="tns:ITimbrado_TimbrarSoloTimbreTest_CFDiFaultContractFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="TimbrarAck">
      <wsdl:input wsaw:Action="https://digitalinvoice.com.mx/WSDI/ITimbrado/TimbrarAck" message="tns:ITimbrado_TimbrarAck_InputMessage" />
      <wsdl:output wsaw:Action="https://digitalinvoice.com.mx/WSDI/ITimbrado/TimbrarAckResponse" message="tns:ITimbrado_TimbrarAck_OutputMessage" />
      <wsdl:fault wsaw:Action="http://digitalinvoice.com.mx/CFDiFaultContract" name="CFDiFaultContractFault" message="tns:ITimbrado_TimbrarAck_CFDiFaultContractFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://digitalinvoice.com.mx/ProcessFaultContract" name="ProcessFaultContractFault" message="tns:ITimbrado_TimbrarAck_ProcessFaultContractFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerAck">
      <wsdl:input wsaw:Action="https://digitalinvoice.com.mx/WSDI/ITimbrado/ObtenerAck" message="tns:ITimbrado_ObtenerAck_InputMessage" />
      <wsdl:output wsaw:Action="https://digitalinvoice.com.mx/WSDI/ITimbrado/ObtenerAckResponse" message="tns:ITimbrado_ObtenerAck_OutputMessage" />
      <wsdl:fault wsaw:Action="http://digitalinvoice.com.mx/CFDiFaultContract" name="CFDiFaultContractFault" message="tns:ITimbrado_ObtenerAck_CFDiFaultContractFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://digitalinvoice.com.mx/ProcessFaultContract" name="ProcessFaultContractFault" message="tns:ITimbrado_ObtenerAck_ProcessFaultContractFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecuperarTimbre">
      <wsdl:input wsaw:Action="https://digitalinvoice.com.mx/WSDI/ITimbrado/RecuperarTimbre" message="tns:ITimbrado_RecuperarTimbre_InputMessage" />
      <wsdl:output wsaw:Action="https://digitalinvoice.com.mx/WSDI/ITimbrado/RecuperarTimbreResponse" message="tns:ITimbrado_RecuperarTimbre_OutputMessage" />
      <wsdl:fault wsaw:Action="http://digitalinvoice.com.mx/CFDiFaultContract" name="CFDiFaultContractFault" message="tns:ITimbrado_RecuperarTimbre_CFDiFaultContractFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://digitalinvoice.com.mx/ProcessFaultContract" name="ProcessFaultContractFault" message="tns:ITimbrado_RecuperarTimbre_ProcessFaultContractFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecuperarTimbreUUID">
      <wsdl:input wsaw:Action="https://digitalinvoice.com.mx/WSDI/ITimbrado/RecuperarTimbreUUID" message="tns:ITimbrado_RecuperarTimbreUUID_InputMessage" />
      <wsdl:output wsaw:Action="https://digitalinvoice.com.mx/WSDI/ITimbrado/RecuperarTimbreUUIDResponse" message="tns:ITimbrado_RecuperarTimbreUUID_OutputMessage" />
      <wsdl:fault wsaw:Action="http://digitalinvoice.com.mx/ProcessFaultContract" name="ProcessFaultContractFault" message="tns:ITimbrado_RecuperarTimbreUUID_ProcessFaultContractFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://digitalinvoice.com.mx/CFDiFaultContract" name="CFDiFaultContractFault" message="tns:ITimbrado_RecuperarTimbreUUID_CFDiFaultContractFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecuperarTimbres">
      <wsdl:input wsaw:Action="https://digitalinvoice.com.mx/WSDI/ITimbrado/RecuperarTimbres" message="tns:ITimbrado_RecuperarTimbres_InputMessage" />
      <wsdl:output wsaw:Action="https://digitalinvoice.com.mx/WSDI/ITimbrado/RecuperarTimbresResponse" message="tns:ITimbrado_RecuperarTimbres_OutputMessage" />
      <wsdl:fault wsaw:Action="http://digitalinvoice.com.mx/CFDiFaultContract" name="CFDiFaultContractFault" message="tns:ITimbrado_RecuperarTimbres_CFDiFaultContractFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://digitalinvoice.com.mx/ProcessFaultContract" name="ProcessFaultContractFault" message="tns:ITimbrado_RecuperarTimbres_ProcessFaultContractFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="TimbrarBase64">
      <wsdl:input wsaw:Action="https://digitalinvoice.com.mx/WSDI/ITimbrado/TimbrarBase64" message="tns:ITimbrado_TimbrarBase64_InputMessage" />
      <wsdl:output wsaw:Action="https://digitalinvoice.com.mx/WSDI/ITimbrado/TimbrarBase64Response" message="tns:ITimbrado_TimbrarBase64_OutputMessage" />
      <wsdl:fault wsaw:Action="http://digitalinvoice.com.mx/CFDiFaultContract" name="CFDiFaultContractFault" message="tns:ITimbrado_TimbrarBase64_CFDiFaultContractFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://digitalinvoice.com.mx/ProcessFaultContract" name="ProcessFaultContractFault" message="tns:ITimbrado_TimbrarBase64_ProcessFaultContractFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="TimbrarTestBase64">
      <wsdl:input wsaw:Action="https://digitalinvoice.com.mx/WSDI/ITimbrado/TimbrarTestBase64" message="tns:ITimbrado_TimbrarTestBase64_InputMessage" />
      <wsdl:output wsaw:Action="https://digitalinvoice.com.mx/WSDI/ITimbrado/TimbrarTestBase64Response" message="tns:ITimbrado_TimbrarTestBase64_OutputMessage" />
      <wsdl:fault wsaw:Action="http://digitalinvoice.com.mx/ProcessFaultContract" name="ProcessFaultContractFault" message="tns:ITimbrado_TimbrarTestBase64_ProcessFaultContractFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://digitalinvoice.com.mx/CFDiFaultContract" name="CFDiFaultContractFault" message="tns:ITimbrado_TimbrarTestBase64_CFDiFaultContractFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="TimbrarSoloTimbreTestBase64">
      <wsdl:input wsaw:Action="https://digitalinvoice.com.mx/WSDI/ITimbrado/TimbrarSoloTimbreTestBase64" message="tns:ITimbrado_TimbrarSoloTimbreTestBase64_InputMessage" />
      <wsdl:output wsaw:Action="https://digitalinvoice.com.mx/WSDI/ITimbrado/TimbrarSoloTimbreTestBase64Response" message="tns:ITimbrado_TimbrarSoloTimbreTestBase64_OutputMessage" />
      <wsdl:fault wsaw:Action="http://digitalinvoice.com.mx/CFDiFaultContract" name="CFDiFaultContractFault" message="tns:ITimbrado_TimbrarSoloTimbreTestBase64_CFDiFaultContractFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://digitalinvoice.com.mx/ProcessFaultContract" name="ProcessFaultContractFault" message="tns:ITimbrado_TimbrarSoloTimbreTestBase64_ProcessFaultContractFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="TimbrarAckBase64">
      <wsdl:input wsaw:Action="https://digitalinvoice.com.mx/WSDI/ITimbrado/TimbrarAckBase64" message="tns:ITimbrado_TimbrarAckBase64_InputMessage" />
      <wsdl:output wsaw:Action="https://digitalinvoice.com.mx/WSDI/ITimbrado/TimbrarAckBase64Response" message="tns:ITimbrado_TimbrarAckBase64_OutputMessage" />
      <wsdl:fault wsaw:Action="http://digitalinvoice.com.mx/CFDiFaultContract" name="CFDiFaultContractFault" message="tns:ITimbrado_TimbrarAckBase64_CFDiFaultContractFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://digitalinvoice.com.mx/ProcessFaultContract" name="ProcessFaultContractFault" message="tns:ITimbrado_TimbrarAckBase64_ProcessFaultContractFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecuperarTimbreBase64">
      <wsdl:input wsaw:Action="https://digitalinvoice.com.mx/WSDI/ITimbrado/RecuperarTimbreBase64" message="tns:ITimbrado_RecuperarTimbreBase64_InputMessage" />
      <wsdl:output wsaw:Action="https://digitalinvoice.com.mx/WSDI/ITimbrado/RecuperarTimbreBase64Response" message="tns:ITimbrado_RecuperarTimbreBase64_OutputMessage" />
      <wsdl:fault wsaw:Action="http://digitalinvoice.com.mx/ProcessFaultContract" name="ProcessFaultContractFault" message="tns:ITimbrado_RecuperarTimbreBase64_ProcessFaultContractFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://digitalinvoice.com.mx/CFDiFaultContract" name="CFDiFaultContractFault" message="tns:ITimbrado_RecuperarTimbreBase64_CFDiFaultContractFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecuperarTimbreBase64UUID">
      <wsdl:input wsaw:Action="https://digitalinvoice.com.mx/WSDI/ITimbrado/RecuperarTimbreBase64UUID" message="tns:ITimbrado_RecuperarTimbreBase64UUID_InputMessage" />
      <wsdl:output wsaw:Action="https://digitalinvoice.com.mx/WSDI/ITimbrado/RecuperarTimbreBase64UUIDResponse" message="tns:ITimbrado_RecuperarTimbreBase64UUID_OutputMessage" />
      <wsdl:fault wsaw:Action="http://digitalinvoice.com.mx/CFDiFaultContract" name="CFDiFaultContractFault" message="tns:ITimbrado_RecuperarTimbreBase64UUID_CFDiFaultContractFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://digitalinvoice.com.mx/ProcessFaultContract" name="ProcessFaultContractFault" message="tns:ITimbrado_RecuperarTimbreBase64UUID_ProcessFaultContractFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecuperarTimbresBase64">
      <wsdl:input wsaw:Action="https://digitalinvoice.com.mx/WSDI/ITimbrado/RecuperarTimbresBase64" message="tns:ITimbrado_RecuperarTimbresBase64_InputMessage" />
      <wsdl:output wsaw:Action="https://digitalinvoice.com.mx/WSDI/ITimbrado/RecuperarTimbresBase64Response" message="tns:ITimbrado_RecuperarTimbresBase64_OutputMessage" />
      <wsdl:fault wsaw:Action="http://digitalinvoice.com.mx/ProcessFaultContract" name="ProcessFaultContractFault" message="tns:ITimbrado_RecuperarTimbresBase64_ProcessFaultContractFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://digitalinvoice.com.mx/CFDiFaultContract" name="CFDiFaultContractFault" message="tns:ITimbrado_RecuperarTimbresBase64_CFDiFaultContractFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="TimbrarSoloTimbreBase64">
      <wsdl:input wsaw:Action="https://digitalinvoice.com.mx/WSDI/ITimbrado/TimbrarSoloTimbreBase64" message="tns:ITimbrado_TimbrarSoloTimbreBase64_InputMessage" />
      <wsdl:output wsaw:Action="https://digitalinvoice.com.mx/WSDI/ITimbrado/TimbrarSoloTimbreBase64Response" message="tns:ITimbrado_TimbrarSoloTimbreBase64_OutputMessage" />
      <wsdl:fault wsaw:Action="http://digitalinvoice.com.mx/CFDiFaultContract" name="CFDiFaultContractFault" message="tns:ITimbrado_TimbrarSoloTimbreBase64_CFDiFaultContractFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://digitalinvoice.com.mx/ProcessFaultContract" name="ProcessFaultContractFault" message="tns:ITimbrado_TimbrarSoloTimbreBase64_ProcessFaultContractFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="Timbrado">
    <wsdl:port name="BasicHttpBinding_ITimbrado" binding="i0:BasicHttpBinding_ITimbrado">
      <soap:address location="https://digitalinvoicecfdi.com.mx/WS_WSDI/DigitalInvoice.WebServices.WSDI.Timbrado.svc/Basic" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>